[2019-05-08 22:24] hmenke commented on #412
@schtandard The comparison was too literal.  It compared the value of `pos` with the string literal `0.0` and if `pos=0` the comparison was false.  I replaced it by an `\ifdim` comparison which should work for any representation of zero, regardless of the number of decimal digits.

[2019-05-08 22:51] hmenke commented on #650
@domenjoud There was another issue with local shadings, see https://github.com/pgf-tikz/pgf/commit/bbe9ae5412b08192ef887af136ba743dd33b25da

[2019-05-12 23:56] #672 closed, assigned to nobody

[2019-05-13 21:33] schtandard opened #674 "References and Index missing in manual"
The manual of the latex release (version 3.1.3) ends on page 1247, which is the title page of Part XI _References and Index_. I guess there should be something more there.

[2019-05-13 21:43] hmenke commented on #674
Yes, I can confirm that there are some issues with the build system of the manual.  It looks like `makeindex` is only run on an empty `pgfmanual.idx` once, so one would have to call `make` twice which I apparently did not do.

I don't think the missing index is such a problem because I believe it is not frequently used (you can just search the PDF for your keyword).  Nevertheless it will be fixed

[2019-05-13 21:52] hmenke commented on #674
Manual with index is available from here now:
https://github.com/pgf-tikz/pgf/releases/download/3.1.3/pgfmanual.pdf

[2019-05-14 00:37] ilayn commented on #671
Hi @schtandard. When you write

[code]

you are actually creating a key with full path `/main path/main path/option=value` because of the first `/main path/.cd`. If you instead use
[code]
then the handler should work. This is also mixed up with the fact that you can directly set a key with a value regardless of its existence. Hence you have to invoke the right key family for the search.

[2019-05-14 01:26] hmenke commented on #671
No, when `\tracingall` the log shows that the key `/main path/option` is being set.  Unfortuantely I don't know how to fix it yet.  The code is a real mess.

https://github.com/pgf-tikz/pgf/blob/6b796ef15b4c6a1199dcff14d1db040d8fec4877/tex/generic/pgf/utilities/pgfkeys.code.tex#L891-L949

[2019-05-14 01:56] ilayn commented on #671
Ah I missed the initial `/`. But setting value behavior change means breaking a lot of code so I don't think you have too many options.

[2019-05-15 04:13] hmenke commented on #288
Cannot reproduce anymore.  Maybe this was fixed.  I'm closing it for now.
[code]

[2019-05-15 04:13] #288 closed, assigned to nobody

[2019-05-15 04:23] xirk opened #675 "tikz fails to load since May 2019 update"
I use plain TeX, using pdfTeX with tikz to get maths and science diagrams. I run TeXLive using the manual installer which I run an update every few days or so. I am using Manjaro Linux.
Since the latest update (3.1.3) dated approx 14 May 2019, errors occur after "input tikz":

File being loaded was:
/usr/local/texlive/2019/texmf-dist/tex/generic/pgf/frontendlayer/tikz/tikz.code.tex
line 577: Undef

[2019-05-15 04:25] hmenke commented on #374
In TeX Live 2019 the output of the MWE is the same with pdf-, xe-, and luatex.  I'm closing this for now.

[2019-05-15 05:06] hmenke commented on #675
It's a regression which affects both Plain TeX and ConTeXt.  With the latest version of TikZ the shadings are now colorspace aware, but that requires some collaboration with the `xcolor` LaTeX package.  There are two control sequences which have to be defined for this to work.

Workaround for Plain TeX:
[code]
Workaround for ConTeXt:
[code]

[2019-05-15 05:16] #675 closed, assigned to hmenke

[2019-05-16 20:08] Patone1 opened #676 "Little "bug" in title of Part 3"
In the figure that illustrates the title of Part 3 (TikZ ist kein Zeichenprogramm), it reads:
`$\alpha = \delta$ and $\beta = \gamma$`
 where it should say:
`$\alpha = \gamma$ and $\beta = \delta$`,

[2019-05-16 23:41] #676 closed, assigned to hmenke

[2019-05-16 23:42] hmenke commented on #673
You can always add such micro-optimizations by yourself and retypeset the manual from source.  Instructions are given in the [README](https://github.com/pgf-tikz/pgf#development).

[2019-05-16 23:42] #673 closed, assigned to nobody

[2019-05-18 11:37] loopspace commented on #490
Note that [`pgfmorepages`](https://ctan.org/pkg/pgfmorepages) is now on CTAN.

[2019-05-19 10:15] jbezos opened #677 "Guidance on bidi texts and babel"
As the current maintaner of `babel`, I'd like to make `pgf` compatible with bidi text using `luatex`. The aim is to generate graphics with Arabic, Hebrew, Farsi, etc., text without explicit markup (ie, the direction is set by the `pgf` commands). After a few experiments with nodes, it seems the hooks provided by `pgf` could do the trick. For example (and with the corresponding internal macro):

\g

[2019-05-20 06:36] PhelypeOleinik opened #678 "Enabling FPU breaks drawing with arrows"
The following code:
[code]
breaks with:
[code]
with the current (3.1.3) version of PGF--Ti*k*Z.

The command works fine without the `[->]`. PGF--Ti*k*Z version 3.1.1 works fine.

[2019-05-20 06:41] PhelypeOleinik opened #679 "Spaces missing in “divide by zero” error message"
The code:
[code]
produces the error message:
[code]

If I didn't know better I'd say someone loaded `expl3` in PGF--Ti*k*Z ;-)

[2019-05-20 06:48] PhelypeOleinik opened #680 "TikZ doesn't work in plain"
Loading Ti*k*Z in plain isn't working:
[code]
apparently something related to `xcolor`:
[code]

[2019-05-20 07:04] josephwright commented on #679
In a sense it is :) If you do a quick trace, you find
[code]
which you'll see ends with setting space to ignore, `~` to a space and `\endlinechar` to a space.

[2019-05-20 07:09] hmenke commented on #680
Duplicate of https://github.com/pgf-tikz/pgf/issues/675

[2019-05-20 07:09] #680 closed, assigned to nobody

[2019-05-20 07:40] hmenke commented on #678
Bisected to 65b8261c63c6f4adfca60106528e2d1bf1e2cb60

[2019-05-20 07:46] hmenke commented on #678
What we have here is a much deeper problem, namely that drawing with FPU enabled will not work.  Try this example with any version of PGF:
[code]
I'm tending to mark this as wont-fix because even if we fix this tiny regression, the rest will still remain unusable.

[2019-05-20 07:50] #679 closed, assigned to hmenke

[2019-05-20 07:58] hmenke commented on #677
Unfortunately I only speak languages with Latin alphabet, so I am pretty useless here, but it is an interesting problem and it should definitely be addressed.

[2019-05-20 08:42] u-fischer commented on #678
Imho it indicates a real problem of the fpu library with output format fixed:

[code]

[2019-05-20 08:56] u-fischer commented on #678
It seems to work if one use `\pgfmathparse` instead of the math command:

[code]

[2019-05-20 13:22] jbezos commented on #677
Let me then pose a similar problem. Let's assume I want to set the color, to underline, to enclose in braces, to add a bullet before, etc., of any text inside a figure (very likely, the text start is enough). The point of my question is, how can I catch every possible piece of text (or most of them) inside a figure? I'd say `\tikz@atbegin@node` is a good candidate for nodes. (The code to be insert

[2019-05-21 06:25] hmenke commented on #678
I have a patch, but that will break other things.
[code]

[2019-05-21 10:56] dbitouze opened #681 "Typo in documentation"
If I'm right, the following code to be found on page 568 of the TikZ & PGF's documentation (Version 3.1.3) contains a spurious `'`: it should be `>=stealth` instead of `>=stealth’`.

[code]

[2019-05-21 11:27] hmenke commented on #681
If you had posted a MWE, you would have noticed that it is not a bug.
[code]
The code for the picture is from here
https://github.com/pgf-tikz/pgf/blob/07959624c5e4c50f80ddf31a3b271885237b37cc/doc/generic/pgf/text-en/pgfmanual-en-library-automata.tex#L308-L327

[2019-05-21 11:27] #681 closed, assigned to nobody

[2019-05-21 18:57] loopspace opened #682 "Placing a node on a path with cycle applies a double transformation."
MWE:

[code]

In the second and third cases, the `c` is incorrectly placed.  This is because in the definition of the `\tikz@timer@end` in `\tikz@@close` then the end of the path is defined to be the coordinates saved from last moveto as recorded by the underlying soft path.  However, this has the current transformation applied to it which isn't what is needed in `\tikz@timer@end`.

One possible f

[2019-05-22 07:48] dbitouze commented on #681
OK, sorry for the noise. My mistake for this (quickly, sorry) reported issue came from:

1. copy-paste from the PDF leads to a smart quote `’` instead of a straight quote `'`,
1. the example code doesn't mention the needed `arrows` library,
1. without the `arrows` library, the example compiles nicely without the quote (okay `on grid` has to be dropped).

[2019-05-22 08:06] dbitouze opened #683 "Straight quotes should not be rendered as smart quotes in the documentation"
In the PDF file of the documentation, the straight quotes in code sample are rendered as smart quotes. This makes these samples fail to compile with the error:

For instance, this is the case for the code to be found on page 568 of the documentation (version 3.1.3):

[code]

[2019-05-22 08:11] hmenke commented on #683
Why should copy-pasting from the PDF work?  It doesn't work for anything else in TeX (like math) and there is no way to preserve spaces.

[2019-05-22 08:15] hmenke commented on #683
This is the offending line by the way:
https://github.com/pgf-tikz/pgf/blob/07959624c5e4c50f80ddf31a3b271885237b37cc/doc/generic/pgf/text-en/pgfmanual-en-main-preamble.tex#L156-L157
Another related issue is https://github.com/pgf-tikz/pgf/issues/385, which is another incarnation of the same problem but which I marked wont-fix.

[2019-05-22 08:52] dbitouze commented on #683
I don't see your point, except for _vertical_ blank spaces. Copy-pasting the code displayed in the PDF generated by the following `.tex` file is OK (tested with several PDF viewers on Linux) and the pasted code can be tested without any trouble:

[code]

[2019-05-22 08:54] hmenke commented on #683
That's a cool story but your example code is completely irrelevant to the PGF manual, which does not use `listings`.

[2019-05-22 08:58] hmenke commented on #679
BTW, this broke when fixing this https://github.com/pgf-tikz/pgf/issues/508

[2019-05-22 09:09] hmenke commented on #681
1. You already opened a new issue for this (#683), although I don't see the benefit.  You still won't be able to reliably copy-paste code from the PDF.
2. Examples in the manual are not MWEs, which should be obvious because there is no `\documentclass` skeleton.  It's also an open issue: #640
3. Well, of course.  If you read the manual carefully you will notice that `stealth` is a builtin arrow ti

[2019-05-22 10:08] dbitouze commented on #681
The benefit is because it is a different issue. The (im)possibility to copy-paste code from the PDF is not the main point of the current issue and it is worth opening a new issue for a different matter.

I didn't notice: nice!

When people (in the present case, a student of mine) want to try `automata` library (or other library or any code in TikZ documentation), they probably want to not have to

[2019-05-22 10:10] dbitouze commented on #683
And? Is it a reason for closing the issue? Maybe it is however possible to improve the TikZ documentation from this point of view.

[2019-05-22 10:53] joulev commented on #683
@dbitouze The `codeexample` environment in the manual, AFAIK, is based on `verbatim`. I do not think you can copy the code from `verbatim` in the right way.

If you want to "improve" the documentation using `listings` or `minted`, I totally disagree. There are many _special_ features offered by the `codeexample` environment, especially the automatic cross-reference, which I rely on literally every

[2019-05-22 11:46] dbitouze commented on #683
@joulev Hmmm...

Of course it is possible. Please try:

[code]
The only drawback is the smart instead of the straight quote, but see below.

I never said that.

I totally agree.

I guess it is possible but that's not the point: I'm just asking to have straight and not smart quotes in the copied-pasted code samples and BTW, it is possible with only the `verbatim` default environment and the `upquot

[2019-05-22 12:08] dbitouze commented on #683
@hmenke `\usepackage[T1]{fontenc}` is not the culprit:

[code]

[2019-05-22 21:15] hmenke commented on #683
Yes, `\usepackage[T1]{fontenc}` *is* the problem.  Again, your example is of absolutely no use in the context of the PGF manual.  Please stop spamming the thread with unrelated code.
I also feel that you have no idea how any of those things work.  The `codeexample` environment uses `\scantokens` which immediately rules out the usage of any active characters.  If you look at the implementation of e

[2019-05-22 21:49] loopspace commented on #682
This is the same issue as in https://github.com/pgf-tikz/pgf/issues/423

[2019-05-22 21:57] hmenke commented on #423
Duplicate of #682

[2019-05-22 21:58] hmenke commented on #682
Thanks for pointing it out.  I closed the old issue in favour of this one, because this one has a proper MWE.

[2019-05-23 00:35] hmenke commented on #683
https://github.com/pgf-tikz/pgf/commit/6f2a726cee4749d1b210e237735c5f9a60f07de9 should implement what you want.  I'm marking this as wont-fix anyway.

[2019-05-23 00:35] #683 closed, assigned to nobody

[2019-05-23 00:36] hmenke commented on #682
Merged https://github.com/pgf-tikz/pgf/commit/7a6b3e7465796c60159dff922762014cc907365d and https://github.com/pgf-tikz/pgf/commit/ffc197432ec5ad6e165549aa2c67970b3c56b383.

[2019-05-23 00:36] #682 closed, assigned to nobody

[2019-05-23 06:20] dbitouze commented on #683
@hmenke Please do not confuse spamming and legitimate attempts to help. Hopefully there are many less rude contributors.

[2019-05-24 02:58] hmenke commented on #681
Sorry for the misunderstanding.  I wasn't referring to the benefit of opening a separate issue but to the benefit of being able to copy-paste from the PDF.  In my experience this is extremely unreliable because different viewers implement different heuristics for detecting spaces and things like multicolumn typesetting.  In most cases copying from the PDF yields garbled output and for the PGF manu

[2019-05-24 03:33] hmenke commented on #674
Fixed in https://github.com/pgf-tikz/pgf/commit/f46a7419b0ed3461abe6110d8442e86484524f65

[2019-05-24 03:33] #674 closed, assigned to hmenke

[2019-05-30 01:58] PhelypeOleinik opened #686 "Missing driver code breaks with package transparent"
From this question https://tex.stackexchange.com/q/493285/134574 loading `pgfrcs`  with `transparent`:
[code]
raises an error at `\begin{document}`:
[code]
This happens because of this code inserted `\AtBeginDocument` by `transparent.sty`:
[code]
where `\pgfutil@addpdfresource@extgs` and expands to `\pgf@sys@addpdfresource@extgs@plain` which, in turn, is not defined because the driver code was not

[2019-05-30 09:59] PhelypeOleinik commented on #686
Ulrike Fischer just commented that this is a problem in `transparent.sty` (https://github.com/ho-tex/oberdiek/issues/62). Sorry for the noise.

[2019-05-30 09:59] #686 closed, assigned to nobody

[2019-06-02 09:41] juliangilbey opened #687 "The manual on CTAN does not have an index"
Hello!

The version of pgf on CTAN (cat-version: 3.1.3, cat-date: 2019-05-09 21:05:53 +0200) does not have an index - it just finishes on page 1247 with the index title page.  Perhaps something went wrong with the index construction?

Best wishes,

Julian

[2019-06-02 09:59] hmenke commented on #687
Duplicate of https://github.com/pgf-tikz/pgf/issues/674
Please search existing issues first before opening a new one.

[2019-06-02 09:59] #687 closed, assigned to nobody

[2019-06-04 08:29] juliangilbey commented on #687
Sorry for the duplicate; I didn't see the closed report when I searched github for related issues.
Thanks for fixing it!

[2019-06-04 16:10] jkhsjdhjs opened #688 "specifying node anchor in \draw produces orthogonal arrow tip at edge start"
The following MWE
[code]
compiles to the following output:
![orthogonal arrow tip at edge start](https://screens.totally.rip/2019/06/5cf67aefb1aa0.png)

Removing `.east` from `(A.east)` generates the correct output I would also expect to see with `.east`:
![correct output](https://screens.totally.rip/2019/06/5cf69755b21c1.png)

I'm using TeXLive on Arch Linux, all packages are up to date:
[code]

[2019-06-04 19:45] loopspace commented on #688
The issue here is that because the anchor is specified, TikZ knows that the path needs to start with a `moveto` to wherever `A.east` happens to be.  An `edge` command, however, creates an entirely new path.  So `\draw (A.east) edge B;` creates two paths: one which is just a move to `A.east` and one which draws a line from `A.east` to `B`.

The path `\draw (A) edge (B);` doesn't create the first pa

[2019-06-04 20:14] jkhsjdhjs commented on #688
Thanks for the detailed explaination, it was easy to follow!
Also thanks for the hint with `to`, it works perfectly!
Since this is rather an issue with my expectations I'm closing this.

[2019-06-04 20:14] #688 closed, assigned to nobody

[2019-06-05 16:23] rolfn opened #689 "Wrong definition of \pgfutil@translate"
The file
[code]
contains the following definition:
[code]
This seems to be wrong. I assume the order should be revers.

A related question: The file
[code]
contains a similar definition:
[code]
Are both definitions really necessary?

Thanks for your work.

Rolf

[2019-06-05 17:07] mgieseki opened #690 "dvips driver: misplaced lines when nesting tikzpictures"
When converting the following LaTeX file with `pdflatex`, I get the correct result. The graphic created by `latex`+`dvips`, however, contains a misaligned line, as shown in the image below.
A similar [issue](https://framagit.org/unbonpetit/chemfig/issues/4) originally occurred in conjunction with Chemfig but as it turned out that it's actually related to PGF, I forward it here.

[code]

Output of

[2019-06-05 18:29] loopspace commented on #690
Nesting tikzpictures is generally not a great idea, see https://tex.stackexchange.com/q/46818/86 for a collection of issues that have been noted with it.  The issue here is probably that the inner pictures are being associated with the outer picture's id rather than their own ids and this is misleading TikZ into calculating their location relative to the outer picture's origin rather than their in

[2019-06-05 18:57] mgieseki commented on #690
Personally, I don't really need nested tikzpictures, but it seems they are required by [Chemfig](https://ctan.org/pkg/chemfig) which relies on TikZ. The issue was [reported](https://github.com/mgieseki/dvisvgm/issues/108) to me as a problem with dvisvgm -- I just forwarded it here after I got the confirmation from the Chemfig maintainer that the issue is caused by PGF.  He also provided the above

[2019-06-05 19:48] loopspace commented on #690
The source of the dvips driver contains the comment:

[code]

Position tracking is part of referring to nodes in different TikZ pictures.  A node's natural coordinates are only known in relation to the origin of its picture, so to refer to a node in a different picture needs knowing the origin of that picture.  This gets saved to the aux file and restored on the next run, and it uses the save posi

[2019-06-05 19:54] loopspace commented on #690
Here's quite a good write-up of the `\savepos` primitive.  It does appear to be not an original TeX primitive but appeared with PDF output.

https://tex.stackexchange.com/a/427534/86

[2019-06-05 20:02] mgieseki commented on #690
Ah ok, thanks for the hint and the link. That makes sense and would explain the DVI-related issue. According to the comment above, LuaTeX in DVI mode should work, but it doesn't, which is reasonable if `\savepos` is only available for PDF output.

[2019-06-05 20:07] loopspace commented on #690
I've just been experimenting with LuaTeX in DVI mode and you're right that it doesn't work, but I think that the reason that it doesn't work is different to why `latex` itself doesn't work.  With LuaTeX in dvi mode then the picture positions do get written to the aux file, but the y-coordinates are all identical.  This is different to what happens in PDF mode.  So there just might be a bug with ho

[2019-06-05 21:22] #689 closed, assigned to hmenke

[2019-06-06 07:32] mgieseki commented on #690
Since nowadays `latex` basically calls `pdflatex` in DVI mode, `\savepos` should be evaluated too as documented in the pdfTeX manual. In fact, `latex` and `lualatex` in DVI mode behave similarly. The former also creates an `.aux` file with the positions and the y-coordinates are identical.
If PGF's dvips driver works correctly, this is probably a bug in the DVI backend of pdfTeX and LuaTeX.

[2019-06-06 08:09] davidcarlisle commented on #690
On Wed, 5 Jun 2019 at 21:07, Loop Space <notifications@github.com> wrote:

I don't think it is a general issue with saving coordinates in luatex dvi
mode, The document at the end shows the y values being saved, there is a
consistent 1sp difference but that's all, there is a bigger difference with
the coordinate for xetex, but still if these are only used for relative
distances between points the o

[2019-06-06 08:39] hmenke commented on #690
I constructed a more compact example which does not use TikZ and therefore creates a log with only a fraction of the number of lines (using `\tracingall`).  It also uses Plain instead of LaTeX, so there is not tons of driver-dependent color bullshit everywhere.
[code]

[2019-06-09 15:32] seijikun opened #691 "Possible tikz regression in combination with gnuplot"
Hey guys,
I already opened an issue for this at gnuplot [here](https://sourceforge.net/p/gnuplot/bugs/2180/), but it seems to be either a tikz/pgf or a lualatex regression.

Here is a simplified version of the example, containing only tikz code (making use of the `gnuplot-lua-tikz` helper macros that come with gnuplot): [example.zip](https://github.com/pgf-tikz/pgf/files/3269675/example.zip)

When

[2019-06-10 02:28] hmenke commented on #691
LuaTeX has its own driver file `pgfsys-luatex.def`.
The problem is that the`gnuplot-lua-tikz` macros lack support for the LuaTeX driver and therefore fall back to the default which is to produce HTML (someone must have thought that would be a good idea).
Workaround:
[code]
I will not comment any further on the quality of these macros.

[2019-06-10 04:30] hmenke commented on #691
A fix has been committed upstream at gnuplot.
https://sourceforge.net/p/gnuplot/gnuplot-main/ci/e99a2e58ceb0c4f6179ea57105c3fbc8fbc9d9b3/

[2019-06-10 15:01] seijikun commented on #691
Thank you very much for fixing this upstream!

[2019-06-10 15:01] #691 closed, assigned to nobody

[2019-06-17 08:53] stone-zeng opened #692 "Incorrect faked bold font in xetex"
When use tikz node immediately after a faked bold text, the second node (and the nodes afterwards) will be emboldened.

LaTeX version (with `fontspec`, compiled with xelatex):

[code]

![image](https://user-images.githubusercontent.com/18233088/59588573-8353df80-911a-11e9-9b6d-c6684278fa44.png)

Plain TeX version (compiled with xetex):

[code]

![image](https://user-images.githubusercontent.com/18

[2019-06-19 22:30] hmenke commented on #692
This might be a bug in XeTeX.  I inspected the resulting XDV of
[code]
and I can't find anything suspicious in terms of PDF literals.  The stack seems to be balanced, i.e. same number of `q` and `Q` in the correct locations.

[2019-06-20 18:50] projekter opened #693 "Late node position callback used twice"
When using late node positioning, at the end the temporary name is finally converted into the correct one:
https://github.com/pgf-tikz/pgf/blob/d5aca9fa743cd97a4688db48268bc0b7eab79230/tex/generic/pgf/modules/pgfmoduleshapes.code.tex#L309-L312
However, `\pgfnoderename` calls `\pgfnodealias`, which already makes use of the callback, resulting in a double callback. So unless I am mistaken, `\pgf@nod

[2019-06-20 23:14] hmenke commented on #693
No MWE.

[2019-06-21 06:32] hmenke opened #694 "Regression in graph drawing"
When “improving the formatting“ of the code during https://github.com/pgf-tikz/pgf/compare/fcba572...9d5755f graph drawing broke.
Originally reported on TeX.SX: https://tex.stackexchange.com/questions/496732/tikz-feynman-basic-qed-vertex-misalignment
[code]
Before:
![fcba5723](https://user-images.githubusercontent.com/1903556/59902535-02346b00-93ee-11e9-9563-f048ecee8e73.png)
After:
![9d5755f](htt

[2019-06-21 07:10] projekter commented on #693
This is a completely useless non-answer.  This is not some user-code problem but instead a possible bug that the one who wrote this can easily confirm or tell why there is a good reason to use the callback twice.

[2019-06-21 07:22] hmenke commented on #693
I'm not the original developer of PGF/TikZ, so I treat it as a legacy code base, i.e. if something cannot be demonstrated to be a bug I do not touch it.

[2019-06-21 07:50] hmenke commented on #690
@mgieseki I think I fixed it.  Meanwhile you can use this workaround (only in DVI mode of course).
[code]

[2019-06-21 08:24] projekter commented on #693
Ok, then I'll construct a MWE
[code]

Always, I generate ten nodes and count them using the callback. However, when I count them directly, the number is correct, while for any late positioned node the counter is increased twice, though the nodes are only created once, of course.

At the moment, the callback (which is an undocumented feature) is used only in `pgfmodulematrix.code.tex`, which does n

[2019-06-21 09:31] mgieseki commented on #690
Great, thanks for fixing this issue. I can confirm that it works now.

[2019-06-23 07:10] #694 closed, assigned to Mo-Gul

[2019-06-23 07:10] #693 closed, assigned to nobody

[2019-06-23 07:15] hmenke opened #696 "Document patterns.meta"
This would fix #602 and #612.

[2019-06-23 11:08] aminophen commented on #692
I transferred this report to https://tug.org/pipermail/dvipdfmx/2019-June/000014.html

[2019-06-23 21:22] hmenke commented on #692
@aminophen Thank you very much for taking care of this.  From the linked thread I understand that this is a problem in `dvipdfmx` rather than PGF.  I'm closing this for now.

[2019-06-23 21:22] #692 closed, assigned to nobody

[2019-06-24 08:31] jesseopdenbrouw opened #697 "ConText and PGF 3.1.3: undefined control sequence `\pgf@setup@shading@model`"
Running ConText from TexLive 2019 (Windows 7) together with PGF 3.1.3 gives me this error:

[code]
when running this simple TeX file:

[code]

The line itself is drawn correctly.

[2019-06-24 08:43] hmenke commented on #697
Duplicate of https://github.com/pgf-tikz/pgf/issues/675
Please search existing issues first before opening a new one.

[2019-06-24 08:43] #697 closed, assigned to nobody

[2019-06-24 09:11] jesseopdenbrouw commented on #697
Oops, sorry. For me, it didn't looked as the same problem.

[2019-06-24 19:29] Mo-Gul opened #698 "[manual] Replace deprecated arrows used in codeexamples"
Although the `arrows` and `arrows.spaced` libraries are deprecated, still a lot of `codeexample`s use the arrow tips provided by these libraries. Because I am working anyway through the manual because of issue #640 this would be the chance to update the arrows to the `arrows.meta` library.

[2019-06-25 00:48] hmenke opened #699 "Precision problems when not using the parser with luamath"
Probably the PGF math parser evaluates subexpressions during parsing which leads to a massive loss of precision.
[code]
![](https://user-images.githubusercontent.com/1903556/60061045-f47b3000-96e2-11e9-9103-5337932440cd.png)

[2019-06-25 03:59] hmenke commented on #698
You tend to get ahead of yourself.  How about you first address the 2000 other codeexamples before diving headfirst into other “optimizations”?

[2019-06-25 04:03] hmenke commented on #696
https://tex.stackexchange.com/questions/207357/tikz-pattern-on-an-angle
https://tex.stackexchange.com/questions/203970/custom-hatching-pattern-arbitrary-direction-of-hatching

[2019-06-25 05:38] hmenke commented on #677
I've had a look at this again.  First of all, instead of appending to the low-level macro `\tikz@atbegin@node` it is better to use the `execute at begin node` key.

Anyway, I think what you are looking for are these two hooks:
https://github.com/pgf-tikz/pgf/blob/5d179300a9dcc879414cb86bca28d6a3f2fc0a08/tex/generic/pgf/systemlayer/pgfsys.code.tex#L619-L630

[2019-06-26 04:58] kryde opened #700 "log Missing character message from bend decimal angle"
In recent Debian packaged PGF 3.1.1, a file

\documentclass[a4paper]{article}
\usepackage{tikz}
\begin{document}
\begin{tikzpicture}
\node (A) at (0,0) {A};
\node (B) at (15,0) {B};
\draw[bend left=0.9] (A) to (B);
\end{tikzpicture}
\end{document}

processed with "latex foo.tex" leaves in foo.log messages

    Missing character: There is no . in font nullfont!
    Missing character: There is no 9

[2019-06-26 05:49] hmenke commented on #700
Well spotted :+1: Fixed in 36803f7.

Meanwhile you can backport the fix using
[code]

[2019-06-26 05:49] #700 closed, assigned to hmenke

[2019-06-26 06:07] hmenke commented on #700
In LuaTeX you can also make the “Missing character” a hard error, so you don't have to rely on chance to look in the logfile.  The following is one single file, but split into three code blocks because GitHub doesn't support mixed syntax highlighting.
[code]
[code]
[code]

[2019-06-26 08:07] hmenke commented on #694
Fixed in https://github.com/pgf-tikz/pgf/commit/3e1952bdeb7886ad20e2a25896393a239f3aa2f0

[2019-06-26 08:44] kryde commented on #700
Ah, beaut.

[2019-06-26 09:00] kryde opened #701 "log Missing character on certain bending library and arrows"
Similar to my bug 700, in recent Debian PGF 3.1.1, a file

\documentclass[a4paper]{article}
\usepackage{tikz}
\usetikzlibrary{bending}
\begin{document}
\begin{tikzpicture}
  \node (A) at (0,0) {A};
  \node (B) at (10,0) {B};
  \draw[<->] (A) .. controls +(-45:7) and +(-135:7) .. (B);
\end{tikzpicture}
\end{document}

processed "latex foo.tex" gives in foo.log messages

Missing character: There is

[2019-06-26 09:51] hmenke commented on #701
Sorry, that one is not easy to backport.

[2019-06-26 09:51] #701 closed, assigned to hmenke

[2019-06-26 09:55] hmenke commented on #701
You could use the workaround proposed by Heiko, though: https://tex.stackexchange.com/questions/179297/lots-of-missing-character-messages-in-log-file/179313#179313
But after all, it's just a warning.

[2019-06-26 23:09] hmenke opened #702 "/pgf/foreach/count is unscoped"
The `count` variable in `\foreach` seems to be unscoped unlike the list variable.
[code]
[code]
Using `pdflatex` this results in:
![test](https://user-images.githubusercontent.com/1903556/60220979-67151880-9867-11e9-9890-2b138c92ad48.png)

Thanks @u-fischer for the original report: https://chat.stackexchange.com/transcript/message/50829169#50829169

[2019-06-30 12:22] aminophen commented on #692
It seems that the problem is fixed in dvipdfm-x [r51507](https://www.tug.org/svn/texlive?view=revision&revision=51507).

[2019-06-30 13:15] stone-zeng commented on #692
Thanks!

[2019-07-03 01:36] hmenke commented on #702
Fixed in https://github.com/pgf-tikz/pgf/commit/7fbaa86e9e9b7e37101124a8e9d63396d82463eb.
Let's see how hard it breaks.

[2019-07-03 01:36] #702 closed, assigned to hmenke

[2019-07-03 07:26] hmenke commented on #696
Fixed in
https://github.com/pgf-tikz/pgf/commit/283c6b58f785b7962ddd59dd0c77892d826df72b
https://github.com/pgf-tikz/pgf/commit/b131e4a373d59ef45bf86884f65a0b99a7967b27
https://github.com/pgf-tikz/pgf/commit/a5513a8e7a112851eaddaeaa70d548ce01237c14

[2019-07-03 07:26] #696 closed, assigned to hmenke

[2019-07-03 07:44] hmenke opened #703 "patterns.meta need more verification"
Currently leaving out essential parameters will typeset successfully, i.e. there is no TeX error, but no pattern will show up.  There have to be more safeguards so that parameters that would not produce a usable pattern fail.  Right now leaving out essential things like the `bounding box` or the `tile size` will not throw an error.  It's even possible to leave out the name and use the fact that th

[2019-07-05 09:39] hmenke commented on #703
Fixed in https://github.com/pgf-tikz/pgf/commit/664377d88c07720244c7f2262b5f1e3cabf3a468

[2019-07-05 09:39] #703 closed, assigned to hmenke

[2019-07-08 21:00] Ndolam commented on #675
Ummm... is a fix going in for this?  Or should plain TeX and ConTeXt users use these work-arounds for the foreseeable future?  If the latter, would it not make sense to put these lines of code in (e.g.) tikz.tex ?
Thanks.

[2019-07-08 21:42] hmenke commented on #675
If you had read this thread carefully you'd have noticed that this was fixed in https://github.com/pgf-tikz/pgf/commit/8379e59aca3e411289e67905ad4fb7156357bb68, i.e. it's going to be in the next release.  If you can't wait for that and you're using TeX Live, you can use the tlcontrib repo as described in https://github.com/pgf-tikz/pgf#installation.

[2019-07-09 11:51] Ndolam commented on #675
Hmmmm... after closely rereading the contents of https://github.com/pgf-tikz/pgf/issues/675 , I don't see where it says it was fixed.  Perhaps you see  different text than I do.  For 8379e59, all I see is "Verified <checkmark> 8379e59" which does not suggest a fix is in the works to me.  Am I supposed to know "Verified" means "fixed" ?  If so, I guess you could have told me I need to learn github,

[2019-07-10 04:30] hmenke commented on #675
When I look at this issue I see two explicit references that this has been fixed and one implicit one (if there is a ticket number in the title of a commit, it's always a fix).
![issue](https://user-images.githubusercontent.com/1903556/60940565-72d2f700-a2cb-11e9-9582-492d8881879e.png)

[2019-07-10 12:34] johannesborgstrom opened #704 "Make the latest PDF manual available"
The README files state "See the file doc/generic/pgf/pgfmanual.pdf for a manual. This documentation also explains the installation."

There is no such file in the repo.

Either change the README to point to a PDF version of the manual, or check one in.

[2019-07-10 13:15] joulev commented on #704
https://pgf-tikz.github.io/. I think it is in the repo description itself.

[2019-07-10 21:15] hmenke commented on #704
The file `doc/generic/pgf/pgfmanual.pdf` is generated from the sources in `doc/generic/pgf/text-en/`.  In principle I could add this file to the repo but it could easily get out-of-sync with the sources because I might forget to update the manual when updating the sources.  However, the manual is distributed with the release version of PGF and should be located in that exact location.  If you pref

[2019-07-11 03:31] hmenke commented on #704
Fixed in https://github.com/pgf-tikz/pgf/commit/743b26a126bda0b55f280512ff3d7c64e8e7b7b4.
The latest PDF manual can be obtained from here: http://pgf-tikz.github.io/pgf/pgfmanual.pdf

[2019-07-11 03:31] #704 closed, assigned to hmenke

[2019-07-11 03:39] hmenke commented on #674
The latest upstream PDF manual is now generated automatically and made available at http://pgf-tikz.github.io/pgf/pgfmanual.pdf

[2019-07-11 13:07] ghost opened #706 "gcd does no longer work."
The code `\pgfmathparse{gcd(4,9)}\pgfmathresult` yields

but my math professor told me it should be 1.

[2019-07-11 21:36] hmenke commented on #706
Works on latest `master`.  Most likely related to 1a3aad0aa8f759c333c2524376c9952a6053ee01

[2019-07-11 21:36] #706 closed, assigned to hmenke

[2019-07-11 21:42] hmenke commented on #706
You can work around it by adding some `\relax`.
[code]

[2019-07-12 08:34] Mo-Gul commented on #706
@hmenke, when I am not mistaken PGFPlots (already) has some tests for the math stuff. Maybe these can be added to PGF as well and hopefully also automatically run on Travis CI. Shall I ask Christian for his help on that?

[2019-07-12 08:39] hmenke commented on #706
Yes please.  That is probably worthwhile, so we can avoid these kinds of problems in the future.

[2019-07-12 15:43] Wrzlprmft opened #707 "Invalid PDF when including graphics with XeLaTeX"
My minimal example is unfortunately very big and looks like this:

[code]
The full code can be found [in this gist](https://gist.github.com/Wrzlprmft/9aeea16c55c455e2556e66a35e27c8ea). The required file `triangle.pdf` is [attached](https://github.com/pgf-tikz/pgf/files/3387051/triangle.pdf), though every PDF seems to have the same effect.

When I compile this with `xelatex` (Version 3.14159265-2.6

[2019-07-12 23:35] hmenke commented on #707
Can you please construct an actual minimal example?  I'm not going to debug 2600 lines of code.

[2019-07-13 02:54] hmenke commented on #707
[code]
When I add `\listfiles` to the preamble I get this.
[code]
Update to the latest PGF version and try again.

[2019-07-13 15:22] Mo-Gul commented on #706
Christian answered that the tests **are** already located in the TikZ repository. I think I have found them under
https://github.com/pgf-tikz/pgf/tree/master/source/generic/pgf/testsuite/mathtest

[2019-07-13 18:54] u-fischer opened #708 "inclusion of scaled graphics in a tikzpicture with xelatex broken in the newest pgf"
pgf displaces scaled graphics when compiling with xelatex. See also
https://tex.stackexchange.com/questions/499784/included-graphics-in-tikz-with-xelatex-get-displaced

[code]

## output with previous pgf version:

![image](https://user-images.githubusercontent.com/4047173/61175449-1106db80-a5b0-11e9-97a8-2e0e77ddbf6f.png)

## output with current pgf version (Version:  3.1.4 2019-07-12)

![xelatex

[2019-07-14 01:27] hmenke commented on #708
Probably due to this one: https://github.com/pgf-tikz/pgf/commit/d0f66607f379dadd6d5a435fa86567fe36cfb842

[2019-07-15 09:56] samcarter opened #709 "Position of text in rotated nodes changed with xelatex"
Consider the following MWE to be compiled with xelatex

[code]

Prior to commit https://github.com/pgf-tikz/pgf/commit/d0f66607f379dadd6d5a435fa86567fe36cfb842 the result would be:

![Screen Shot 2019-07-15 at 11 52 30](https://user-images.githubusercontent.com/43832342/61208271-4b2ec500-a6f7-11e9-8bc4-77c13c63247e.png)

After this commit the text is no longer inside the node:

![Screen Shot 2019-

[2019-07-15 10:02] hmenke commented on #709
Duplicate of https://github.com/pgf-tikz/pgf/issues/708
Please search existing issues first before opening a new one.

[2019-07-15 10:02] #709 closed, assigned to nobody

[2019-07-15 11:34] samcarter commented on #709
@hmenke Sorry for the duplicate! I saw the other issue before posting, it just seemed to be specific to scaled graphics, so I did not make the connection that this is the same issue for text in nodes.

[2019-07-15 14:48] mikkelee opened #710 "Incorrect error message for `.is if` when no `if` has been created"
When creating and using a key of type `.is if` but there's no `if` created with `\newif`, the error message is incorrect and confusing:

[code]

[2019-07-15 21:49] hmenke commented on #710
I hesitate to fix this because right now the following works and I could imagine that people abuse `pgfkeys` like that.
[code]

[2019-07-15 21:49] hmenke commented on #710
Possible patch
[code]

[2019-07-15 23:06] hmenke commented on #708
I reverted the broken commit and tagged a new release which will go live once the CTAN server stops timing out on my upload.

[2019-07-15 23:06] #708 closed, assigned to nobody

[2019-07-16 08:42] Wrzlprmft commented on #707
This indeed worked (after #708 was fixed). I was under the illusion to have the latest TeXLive.

Note that the cited example was honestly as minimal as I could get with a reasonable effort. Given the nature of the error, I was expecting something like an overflow or similar, which could hopefully have been assessed without actually reading all the code.

[2019-07-16 08:42] #707 closed, assigned to nobody

[2019-07-17 08:41] hmenke commented on #708
The hotfix should trickle through in the next 24h.

[2019-07-17 13:14] mikkelee commented on #710
For what it's worth, that error message looks good to me.

[2019-07-17 21:07] #710 closed, assigned to nobody

[2019-07-18 05:15] mikkelee commented on #710
Could not the check be expanded to look for `#1true`/`#1false` if `if#1` is missing?

[2019-07-18 05:50] hmenke commented on #710
No, because it breaks the hack I showed above.  Also I think this is a user error.  If you did not define the `\newif` you can't expect sensible error messages elsewhere.

[2019-07-18 07:36] mikkelee commented on #710
Alright. Thanks for explaining.

[2019-07-22 14:05] Skillmon opened #715 "[parser] Error when parameter character is parsed"
In the `parser` module, parsing a character with category code 6 will throw an error `Illegal parameter number in definition of \pgfparserletter.`

Example code:

[code]

[2019-07-22 14:11] Skillmon commented on #715
I already know how to fix this, but first wanted to ask whether fixing it only for `#` with category 6 is ok, or should I implement a more robust but slower code that should work for any character of category 6?

[2019-07-22 21:17] hmenke commented on #715
Since you are probably the only user of the `parser` module at all, you can fix it at your discretion.

[2019-07-23 14:00] Wrzlprmft opened #717 "Using controls and cycle in a named picture leads to “no shape … known” error."
Minimal example:
[code]

This raises the following error:
[code]

The following changes remove the problem:

* Using `--` instead of `controls`.
* Using `(0,0)` instead of `cycle`.
* Not naming the picture, i.e., removing `myname`.

[2019-07-25 21:09] Mo-Gul opened #718 "[manual] \usepgflibrary vs. \usetikzlibrary"
I think a lot of libraries are documented wrong see attached MWE.

    \documentclass[border=5pt]{standalone}
    \usepackage{tikz}
        % documented as `\usepgflibrary`
        % but only work as `\usetikzlibrary`
        % (the libraries
        %  - shadows
        %  - turtle
        %  were already adapted while working on issue #640
        %  <https://github.com/pgf-tikz/pgf/issues/640>

[2019-07-25 21:28] Mo-Gul opened #719 "[manual] add gnuplot files `parametric-example-cut` to repository?"
Shall the gnuplot files
- pgf-parametric-example-cut.gnuplot
- pgf-parametric-example-cut.table

in the folder <doc\generic\pgf\version-for-luatex\en\plots> from
https://github.com/pgf-tikz/pgf/blob/f5d0ffd6e4a553d40855370c692fea6e33a0026d/doc/generic/pgf/text-en/pgfmanual-en-tikz-plots.tex#L370-L378
be added to the repository as well?

[2019-07-25 21:42] Mo-Gul opened #720 ""sub-library" should load "main library" by default"
Loading the `graphs.standard` library without loading the `graphs` library as well leads to an error message. Wouldn't it be an improvement if the `graphs.standard` library would load the `graph` library itself (by default)?

    \documentclass{standalone}
    \usepackage{tikz}
        \usetikzlibrary{graphs.standard}
    \begin{document}
    \end{document}

Something similar holds for the `graphd

[2019-07-25 22:04] Mo-Gul opened #721 ".cvsignore --> .gitignore"
Since the repository was converted from CVS to GIT the IgnoreLists should be adapted as well. They are found here

- [ ]  doc/generic/pgf/version-for-dvipdfm/en/.cvsignore
- [ ]  doc/generic/pgf/version-for-dvips/en/.cvsignore
- [ ]  doc/generic/pgf/version-for-luatex/en/.cvsignore
- [ ]  doc/generic/pgf/version-for-luatex/en/plots/.cvsignore
- [ ]  doc/generic/pgf/version-for-pdftex/en/.cvsignore

[2019-07-26 21:08] ecooch opened #722 "bug in axis label position | following pgf 3.1.3 -> 3.1.4a update | .tex -> .dvi issue"
[I posted this originally on StackExchange: for more complete details and comments, which I think helpful, see [https://tex.stackexchange.com/questions/501617/possible-major-bug-with-pgfplot-axis-labeling](url)  As you'll see from the comments, this bug has been confirmed by a fair number of people.]

I tried compiling a bunch of files today, all of which use tikzpictures and pgfplots. Something t

[2019-07-26 21:48] ecooch commented on #722
Similar issue just reported here: https://tex.stackexchange.com/questions/501625/updated-miktex-and-tikz-does-not-rotate-the-y-axis-properly[](url)

[2019-07-27 01:00] hmenke commented on #722
You could try restoring the default definition of `\pgfsys@hboxsynced` but then position tracking will break again.  That is what happened in the XeTeX driver as well.
[code]

[2019-07-27 01:11] hmenke commented on #720
Excellent idea. I think the `decorations.<whatever>` libraries already do this and always load the `decorations` library, so it would just be consistent to have that for all others as well.

[2019-07-27 01:12] hmenke commented on #721
Yes, there should only be a single top-level `.gitignore`.

[2019-07-27 01:13] hmenke commented on #719
Are there any problems if those files are missing?  I though the data files were only needed if the plot used the external `gnuplot` program.

[2019-07-27 01:14] hmenke commented on #718
Good find :+1: If you didn't already, please add these fixes to your open PR.

[2019-07-27 01:16] hmenke commented on #717
What I find most interesting is that this works at all.  I always thought that the only legal construction that you could use was `-- cycle;`.  Does it work if the `pic` content is
[code]

[2019-07-27 07:57] Wrzlprmft commented on #717
Yes, that throws no error.

[2019-07-27 14:16] ecooch commented on #722
Thanks -- I'll play with restoring trhe default, but as you intimate, not a robust or long-term solution.

[2019-07-27 19:51] Mo-Gul commented on #720
You are right regarding the `decorations` libraries. Shall I include this already in the current Pull Request or wait?

[2019-07-27 20:15] Mo-Gul commented on #719
These files are *created* by `gnuplot`. And `gnuplot` *is* used in the above example to create the plot. (For details see sections 22.2 and 22.6 in the pgfmanual.)

To answer your question: No, there is no problem if you have `gnuplot` installed and working. But if not, then the `.table` file can used instead using `\tikz \draw plot [...] file {<file name>.table};`.

In this case I see two options

[2019-07-28 15:54] Mo-Gul commented on #720
I added loading `graphs` in the `graphs.standard` library in my [last commit](https://github.com/Mo-Gul/pgf/commit/3d5a3d89f71e764c3979eff51f466c94750b4c25) to Pull Request #711.

Up to now I decided not to load the `graphs` library when `graphdrawing` is loaded because of the text I just read here:

https://github.com/pgf-tikz/pgf/blob/f5d0ffd6e4a553d40855370c692fea6e33a0026d/doc/generic/pgf/text

[2019-07-28 17:09] Mo-Gul commented on #721
It would be nice if you, @hmenke, could take care of this, at least give it a start, because I don't really know how to start. If I have a working example, then I can add more stuff if something is left.

[2019-07-29 13:17] aminophen opened #724 "Extra blank page with standalone class"
Sorry if reported elsewhere.

By running `latex` and `dvipdfmx`, the following MWE produces 2 pages in recent versions of pgf (v3.1.2 -- v3.1.4a current). The second page is blank.

[code]

In TL2018 frozen (v3.1.1), it produced only 1 page.

[2019-07-30 02:26] hmenke commented on #718
Please only close issues once the fix is merged.

[2019-07-30 02:28] hmenke commented on #719
Okay, I will add them then.  I also noticed that some gnuplot files are overwritten when building the documentation.  This might have to do with the gnuplot version change from 4.x to 5.x some time in the last years.

[2019-07-30 02:49] #721 closed, assigned to hmenke

[2019-07-30 02:52] #715 closed, assigned to nobody

[2019-07-30 04:49] Mo-Gul commented on #719
Thanks.

The gnuplot files should be overwritten each time you compile, i.e. when you compile with LuaLaTeX the files in `doc/generic/pgf/version-for-luatex/en/plots` will *all* be recreated. Of course the same holds for the other engines.

Thus, I don't know if/when the gnuplot files under `doc/generic/pgf/text-en/plots` are created/used. Maybe this is a leftover when it was allowed to right in h

[2019-07-31 01:05] ecooch commented on #722
Just a question -- out of curiosity, when a clear bug like this is found (which seems fairly significant) -- what generally happens next at the dev end? Its easy enough for me to block any attempts by software to update from 3.1.3 -> 3.1.4a, but for other users who might nor be aweare of the issue...

Again, just curious.

[2019-08-03 08:07] hmenke commented on #724
Bisected to fbfabbd01cecb4e8b6b1e43d1f3ad685c7e60778

I would argue that the problem is in `standalone` rather than `tikz` because if I replace the documentclass with `article` it works fine. Here is a MWE without TikZ.
[code]

[2019-08-03 08:16] hmenke commented on #724
See now also: ~~https://bitbucket.org/martin_scharrer/standalone/issues/47~~ https://web.archive.org/web/20200623152746/https://bitbucket.org/martin_scharrer/standalone/issues/47/spurious-empty-page-with-dvipdfmx

[2019-08-03 08:17] hmenke commented on #722
I've reverted the offending commit https://github.com/pgf-tikz/pgf/commit/a65310afad22747f2a7a5728e4caa900c5fe4ec9
It will be deployed soon but of course breaks position tracking again.

[2019-08-03 08:17] #722 closed, assigned to nobody

[2019-08-03 08:18] hmenke commented on #690
The “fix” broke rotations.

[2019-08-03 14:50] ecooch commented on #722
For us (mere) mortals, meaning...what? ;-)

On 8/3/2019 4:17 AM, Henri Menke wrote:

[2019-08-04 10:31] tattsan commented on #724
standalone.cls has an option 'tikz':

[code]

and this produces no blank page.

[2019-08-04 10:45] aminophen commented on #724
Yes, that produces no blank page, but the page is not cropped to the size of 'a'; it results in A4 paper. This behavior is not expected at all...

[2019-08-04 10:50] aminophen commented on #724
@hmenke I agree with you, thanks.

[2019-08-04 11:06] tattsan commented on #724
I see.

To use with dvipdfmx, I added the following line in the definition of \sa@placebox (defined in standalone.cls).

[code]

This also produce no blank page, and the page is cropped.

[2019-08-04 11:43] paternal opened #725 "pgfcalendar: Translation of month and weekday names is broken?"
Hello,
I use the pgfcalendar package to build a calendar (in French), but the month and weekday names are no longer translated. Here is a MWE.

[code]

The names in the first section are translated,  using command `\translate` from package translator. However, the names in the second section are not, although the pgf/tikz translation states that *"All textual representations of week days or months

[2019-08-04 13:25] schtandard opened #726 "style key does not work properly in datavisualization"
The `style` key does not always produce the correct output, as can be seen using examples given in section 82.4.7 "Styling Ticks and Grid Lines: The Style and Node Style Keys" of the manual (MWE below).

- In the example for `/tikz/data visualization/node style` (top of page 884), the difference to `/tikz/data visualization/style` is emphasized:

    However, replacing `node style` with `style` yi

[2019-08-04 21:14] hmenke commented on #725
Exact duplicate of https://github.com/pgf-tikz/pgf/issues/689
Please search existing issues first before opening a new one.

[2019-08-04 21:14] #725 closed, assigned to nobody

[2019-08-04 21:16] hmenke commented on #724
I'm closing this for now, because the issue seems to be in `standalone`.

[2019-08-04 21:35] hmenke commented on #726
Does anyone actually use `datavisualization` instead of `pgfplots`?

[2019-08-05 06:28] paternal commented on #725
Sorry. I had seen this issue, but I do not know it was the same as this one (I do not understand the internals of PGF/TiKZ).

-- Louis

[2019-08-05 09:59] schtandard commented on #726
Well, this is not a comment I expected. I was going to.

If you don't think I should (or have thoughts on both options), maybe post an answer [here][sequestion]?

[sequestion]: https://tex.stackexchange.com/questions/502905/pgfplots-vs-datavisualization-2019-review

[2019-08-05 10:15] hmenke commented on #726
I was half joking, but `pgfplots` is undeniably more feature-rich and offers in my opinion a simpler syntax than `datavisualization`.  Of course I'll take a look at this issue.

[2019-08-06 00:33] #724 closed, assigned to nobody

[2019-08-06 18:16] schtandard opened #727 "\pgfmathfloatparse is a copy of \pgfmathparse when /pgf/fpu=false"
When the `fpu` library is not "installed", i.e. `\pgfmathparse` and friends have their normal behavior, `\pgfmathfloatparse` is a copy of `\pgfmathparse`, i.e. it does not parse floating point numbers.

[code]
outputs

but should output

[2019-08-06 21:46] hmenke commented on #727
Well, it *does* parse floating point numbers, it just doesn't output them as FPU floats.  I'm not sure what the correct behaviour should be here, because FPU floats are pretty much useless when the `fpu` is not enabled.

[2019-08-07 07:54] schtandard commented on #727
Does it?
[code]
does not work with `fpu` disabled either, so it can't _just_ be the output formatting.

I don't agree that the `fpu` functions are useless separately. They can be used to parse floating point numbers without disturbing the usual drawing functions (when the floating point numbers are not to be used for drawing directly). In the current state, one has to locally activate `fpu` for ea

[2019-08-07 17:34] u-fischer opened #728 "positioning library: error when using coordinates with numbers"
The documentation claims (on page 237) that the `of` part of a positioning spec can be a coordinate without parentheses  but with numbers:

But `of 2,3`  errors with

[code]

It works if one adds braces:

[code]

[2019-08-08 20:55] hmenke commented on #728
Ehm, comma is the list separator, so you have to use braces around it.  It's the same for `[]`, which will also not work.  For example:
[code]
So this is definitely a wont-fix.

[2019-08-08 21:03] u-fischer commented on #728
Sorry I didn't meant that this should be fixed, but that the documentation  should be corrected: if explicitly shows the wrong `of 2,3`.

[2019-08-09 01:59] hmenke commented on #728
Aha! That should of course be fixed.  Sorry for the misunderstanding.

[2019-08-19 04:37] hmenke opened #730 "Rotating a picture with to-paths behaves unexpected"
When drawing a connection between nodes using `to` where anchors are calculated  with `in` and `out` and then rotating the drawing yields unexpected output.
[code]
![output](https://user-images.githubusercontent.com/1903556/63239434-ab56e080-c23a-11e9-8e46-a0c267d1c262.png)

The behaviour can be easily explained by the fact that anchors are not rotated and can be worked around by either rotating t

[2019-08-19 08:25] joukewitteveen commented on #47
The [manual](https://github.com/pgf-tikz/pgf/blob/3.1.4/doc/generic/pgf/text-en/pgfmanual-en-tikz-scopes.tex#L452-L481) suggests that `pgf` keys can be set through `\tikzset` without a full path.

[2019-08-20 13:41] ghost opened #731 "\rawx,\rawy,\rawz do not seem to work"
First of all, thanks a lot for adding `\coord` to the `calc` library. This works just great! However, what does not seem to work in general at this point are `\rawx`, `\rawy` and `\rawz`. To see this consider
[code]
The coordinates seem to have forgotten that they were set with `\pgfpointxyz`. That is, the coordinates seem to be only available if one sets the coordinates explicitly in `let ... in`

[2019-08-20 21:14] hmenke commented on #731
This would require major restructuring of the core positioning code, because PGF would have to keep track of the active coordinate system for each point and perform the conversion to 2D canvas coordinates lazily at the end of the picture.  That is to say, once you assign
[code]
the coordinate `a` is converted to `\pgfpoint` and all information about the coordinate system is lost.  The coordinate s

[2019-08-20 22:09] ghost commented on #731
I do not understand this. One would only have to store in addition to `\coord`, which, if I understand things correctly, get stored via

in tikz.code.tex, three more parameters, whose default values are 0. These are the rotation angles, which could/should be global. From these 6 values one could always compute the x, y and z coordinate in a reference coordinate system. And from those you could com

[2019-08-20 22:58] hmenke commented on #731
That doesn't work in situations like
[code]
because the declared coordinate of `b` is `a` which has already been converted to `\pgfpoint`.  As I already said, if you wanted to do this properly you'd have to revise the whole core positioning code to make sure that things are properly kept track of.

Also your suggestion of storing rotation angle is very specific to the 3D coordinate system.  There

[2019-08-20 23:07] ghost commented on #731
What I do not understand is that `\coord` does work. All one would need in order to make 3d tracking feasible is to add a twin of `\coord`. This twin does not contain the raw input coordinates but the view angles at the time when the point was defined.

[2019-08-20 23:41] hmenke commented on #731
Here is how `\coord` works:  When you define a coordinate like this
[code]
a new global macro is defined which holds the “declared coordinate” of `a`, which in this case is the literal string `(1,2,3)`.  If you used, say polar coordinates like `(60:1cm)` than the macro would contain exactly that string.  That is to say, storage of the declared coordinate takes place *before* parsing it.  When you

[2019-08-20 23:45] hmenke commented on #731
BTW, what you observe is the expected behaviour of `\rawx`, etc. as documented in the commit message of https://github.com/pgf-tikz/pgf/commit/9467c171fe27adb468829f1b196b2b7b5b3a12ba:

[2019-08-20 23:54] ghost commented on #731
Yes, I understand that. And this is all what is needed to track 3d coordinates. I plan to post an example later, but here is the idea. In general, it is as you say: you store some string which may have whatever meaning because it is not clear which frame these coordinates refer to. However, imagine now that you work in 3d, and all allowed transformations are changes of the view, i.e. orthogonal tr

[2019-08-20 23:56] hmenke commented on #731
I see, so the issue is actually not that “\rawx,\rawy,\rawz do not seem to work” but that you want more features.  Please change the title accordingly and tag it as a feature request.

[2019-08-21 00:05] ghost commented on #731
Would it be cleaner to close this one and to open another one? The thing which we were discussing here was just a BTW: "BTW, if one could store in addition to \coord (and perhaps \rawx, \rawy and \rawz) also a 3x3 matrix or 3 rotation angles, it would be possible (and not even difficult) to store the coordinates in a frame-independent way.)" The purpose of this issue was really to gauge whether th

[2019-08-21 00:11] hmenke commented on #731
Right now the behaviour of `\rawx`, etc. and `\coord` is intended.  I have documented the shortcomings in the corresponding commit messages https://github.com/pgf-tikz/pgf/commit/9467c171fe27adb468829f1b196b2b7b5b3a12ba and https://github.com/pgf-tikz/pgf/commit/31165f2f43d419e1a921a1881bf25743592577a7.
This clearly needs a lot more thought, because what do you do about points like this?
[code]
Th

[2019-08-21 00:28] ghost commented on #731
Yes, on the one hand, examples like

can lead to headache but on the other hand such constructions do not make too much sense IMHO. There is not much point in trying to add a 3-vector to a 2-vector, so users should not complain if in such a construction derived points behave unexpectedly. One way to deal with this is to promote all 2d points to 3d points, i.e. (20:1) will be associated with (cos(2

[2019-08-24 03:10] QJLc opened #732 "The time index of intersection point of line and line."
The lines

https://github.com/pgf-tikz/pgf/blob/5e2f4a884cc0886fbce3f063f5b6705dfff37a89/tex/generic/pgf/libraries/pgflibraryintersections.code.tex#L357-L370

are used to define `\pgf@intersect@time@a`. I think that, the `\pgf@x` and `\pgf@y` in lines 364 and 365, could be coordinates of current intersection point, but their value may be modified by `\pgf@ifsolution@duplicate` in line 357.

The li

[2019-08-24 03:52] hmenke commented on #732
Could you please
1. give this issue a meaningful title
2. explain what you are trying to do

[2019-08-24 08:46] QJLc commented on #732
Thanks. I have improved it.

[2019-08-27 07:08] Mo-Gul opened #734 "[fpu] precision problem in `int` and `floor` functions"
I am pretty sure that I encountered that specific problem several times now, so maybe it can be fixed. When `fpu` is enabled the `floor` and `int` functions can yield wrong results as e.g. shown in the following MWE.

Here a list were I know that this problem encountered:
- https://tex.stackexchange.com/q/505871/95441
- https://tex.stackexchange.com/a/249507/95441

---

    \documentclass[border=5

[2019-08-27 21:44] hmenke commented on #284
Regression: (not so minimal example)
[code]

[2019-08-27 22:02] hmenke commented on #284
A quick fix is to remove the reset from the beginning of the path command and perform the reset at the end of the TikZ scope instead.
[code]

[2019-08-27 22:54] hmenke commented on #284
Hm, this doesn't actually do it.  You'd need
[code]
Unfortunately, it seems as if there are scopes in places that I don't expect and therefore stuff still breaks.

@kpym Do you want to take a look again as well?

[2019-08-27 23:03] hmenke commented on #284
Ahhh, the problem is actually the decoration in this example.
[code]
This seems to be solved by not resetting `\tikz@intersect@namedpaths` globally, but locally, i.e.
[code]

[2019-08-27 23:24] hmenke commented on #284
You just can't win at this... Resetting only locally breaks this situation again.
[code]

[2019-08-27 23:29] hmenke commented on #284
Is this it?
[code]

[2019-08-28 01:37] siemer opened #735 "\node foreach does not work with points in list"
[code]

The third `foreach` line does not work as I would expect (throws error). The fact that the first two invocations with `foreach` execute fine suggests that the third should do as well.

[2019-08-28 03:12] hmenke commented on #735
That is very tricky, because at the point where TikZ parses `at \thing`, its meaning is undefined.  The `foreach` is only executed later.  I would say that `foreach` on a path is in general a bad idea.

Also please don't include packages that the MWE does not depend on, in this case `xltxtra`, which by the way really only loads `fontspec`.

[2019-08-28 03:18] hmenke commented on #735
When you look at the code
https://github.com/pgf-tikz/pgf/blob/3ec5292f8bf9453e2baf9654fca94c877a4e89dd/tex/generic/pgf/frontendlayer/tikz/tikz.code.tex#L4347-L4413
you can also see that when TikZ encounters a node foreach, what it does is convert it to regular foreach, but has to first do all the parsing.

[2019-08-28 03:42] hmenke commented on #735
This “works” but is *way* too fragile.
[code]

[2019-08-28 10:36] XAjzh opened #736 "A bit typos in manual"
I am a beginner to Ti*k*Z. When I read the pgfmanual, I found a bit typos. Then I read the latest pgfmanual which is on [https://pgf-tikz.github.io/pgf/pgfmanual.pdf](https://pgf-tikz.github.io/pgf/pgfmanual.pdf) and [https://github.com/pgf-tikz/pgf/releases](https://github.com/pgf-tikz/pgf/releases). The typos still exist.

All the typos are library's name. They are listed below with bold style(c

[2019-08-28 16:05] siemer commented on #735
Thanks for the quick answer. For the time being I use the `at=\thing` workaround.

[2019-08-28 22:25] #284 closed, assigned to nobody

[2019-08-28 22:25] #735 closed, assigned to nobody

[2019-08-28 22:25] #736 closed, assigned to nobody

[2019-09-05 02:58] hmenke opened #738 "\path options do not propagate to nodes"
Options which are only specified on a path do not propagate to nodes on that path.  The following MWE only produces a blank page.  I'm not sure right now, whether options should be propagated or not.
[code]

[2019-09-06 12:50] Rmano commented on #738
I am not sure if they should propagate or not, but it would be a big change to the current  behavior:

[code]
![image](https://user-images.githubusercontent.com/6414907/64429139-a48ef100-d0b5-11e9-8650-3a7e976b6b3b.png)

so I think it is better not to change it unless you add a specific key (like `propagate to nodes`) or similar.

[2019-09-08 07:48] hmenke opened #740 "Add soft paths to the frontend layer"
The idea is to be able to save, use, and most importantly compose soft paths.  Right now, we can do things like.
[code]
However, what I have in mind is something more like MetaPost:
[code]
No idea, whether the parser will be able to do this.

[2019-09-08 08:46] hmenke commented on #738
Good point.

[2019-09-08 08:46] #738 closed, assigned to nobody

[2019-09-08 10:32] hmenke opened #741 "Clean up the LuaTeX driver"
The LuaTeX driver is horribly inconsistent and contains a lot of old cruft from pre 0.95 days.  Thanks to Hans Hagen:
[code]

[2019-09-10 20:51] hmenke opened #742 "Wrong driver selected in ConTeXt"
Using this MWE
[code]
in the log we see
[code]
That is obviously wrong and it should load the LuaTeX driver instead.

[2019-09-10 21:08] #742 closed, assigned to nobody

[2019-09-12 16:43] u-fischer opened #743 "should `\tikz@text@width` be reset inside a node?"
When the `text width` key is used the value is stored in `\tikz@text@width`. This confuses tikz commands inside the node. An example is chemfig which uses tikz for the arrows:

[code]

![image](https://user-images.githubusercontent.com/4047173/64803473-233fce80-d58d-11e9-8793-4ab6d7328017.png)

[2019-09-12 20:10] Cimbali opened #744 "Incorrect link location with notes on second screen"
Using a simple setup for notes on second page, the link locations of the second page appear shifted onto the first page, as if their x coordinate was missing the width of the page:

![pgfpages_bug](https://user-images.githubusercontent.com/6126377/64814865-d8758500-d593-11e9-96c6-80b51819bd34.png)

I am compiling the following example:
[code]

I am using pdflatex distributed by texlive which seems

[2019-09-12 20:46] hmenke commented on #744
@josephwright

[2019-09-12 20:47] hmenke commented on #743
TikZ pictures can't be nested.  Sometimes it works but that is a pure coincidence.

[2019-09-12 20:49] hmenke commented on #743
What about the zillions of other parameters that aren't reset?

[2019-09-13 01:15] hmenke commented on #744
BTW, you can also just add `\hypersetup{pdfborder={0 0 1}}` after `\documentclass` to display the link borders, rather than having to use a clumsy Python script.

[2019-09-13 01:22] hmenke commented on #744
I have the feeling that this is not solvable, because the way `pgfpages` works is that it hooks into shipout and just shifts the shipout box to the right but at that point link positions have already been written into the PDF stream, i.e. their position is fixed.  To get around this, one would have to rethink the `beamer` shipout routine.

[2019-09-15 15:17] PhelypeOleinik opened #747 "TikZ trims spaces from named points only sometimes"
From this TeX.SX thread: https://tex.stackexchange.com/q/508391/134574
Ti*k*Z trims spaces around node names, but only sometimes. Apparently when the node name is followed by a `)` the space is not removed:
[code]
But leading spaces apparently are always removed.

I would say Ti*k*Z should _always_ trim the spaces around the node name.

One could argue that this can break existing code which relie

[2019-09-15 20:54] hmenke commented on #747
That is the reason why I will probably not fix this in the core.  I'm already breaking too much stuff.  However, I could provide a fix as a library.

[2019-09-16 04:05] ghost opened #748 "Plot option `smooth` and decorations.markings"
There is an interesting interplay between the plot option `smooth` and `decorations.marking` (but most likely not only for `markings` decorations). Consider the MWE

[code]
![image](https://user-images.githubusercontent.com/35985244/64933848-f80ee680-d7fb-11e9-86f1-2ae704d6f7cc.png)

As one can see, on the left side, where a nonsmooth plot is employed, the `y` is upright. On the other hand, on the

[2019-09-16 04:10] hmenke commented on #748
I don't remember touching any decorations or plot code, so if this is a regression it must be really old.

[2019-09-16 04:12] ghost commented on #748
@hmenke  OK, I remove the parentheses.

[2019-09-16 04:13] hmenke commented on #748
This is the plot handler that is used when the `smooth` option is active:
https://github.com/pgf-tikz/pgf/blob/ee17ca51395308d7df7d8fe6f805c20ec69f8017/tex/generic/pgf/libraries/pgflibraryplothandlers.code.tex#L13-L88

[2019-09-16 04:16] ghost commented on #748
@hmenke  I do not think it is the plot handler but Bezier vs. straight lines.
[code]
has the same issue.

[2019-09-16 04:18] hmenke commented on #748
Which is kind of the same statement, because the plot handler looks pretty innocent, so it probably comes from `\pgfpathcurveto`.  Do you have an old version at hand with which you could test whether this is a regression?

[2019-09-16 04:21] ghost commented on #748
@hmenke  I agree that it is the same thing. All I wanted to say is that it is not the plot handler but the way Ti*k*Z switches to the tangent system.  And I do not have an old version at hand at the moment.

[2019-09-16 04:24] ghost commented on #732
The pgfplots library has such a functionality in the sense that it allows one to decompose the path into intersection segments. There is also \pgfintersectiongetsolutiontime, but it does not give the time in the sense of a percentage at which the intersection is located. See also https://tex.stackexchange.com/q/432532.

[2019-09-16 04:24] hmenke commented on #748
I quickly tested with TeX Live 2015 and 2016 and they both exhibit the same broken behaviour as the latest master.

[2019-09-16 04:25] ghost commented on #748
@hmenke  OK, thanks! (I did not see this issue in the various tangent solutions on the TeX-SE site.)

[2019-09-16 04:30] hmenke commented on #748
I just realized that you are using a `pic`.  There are some known issues with `pic`, so that might be the source of the problem.

[2019-09-16 04:36] ghost commented on #748
@hmenke  Does not seem like it. If you replace the pic by its code , the same issue arises.

[2019-09-16 04:54] Mo-Gul commented on #748
Regarding "old versions": You can find all -- or at least most of them -- on https://sourceforge.net/projects/pgf/files/pgf/.

[2019-09-16 05:14] hmenke commented on #484
I quickly bisected this to https://github.com/pgf-tikz/pgf/commit/7991ddc7a6ead12d929afbf7a85906b7145e49b8

Here is the diff without whitespace changes.
[code]

[2019-09-16 05:21] ghost commented on #740
The `\againpath` macro seems to do at least parts of this, i.e. you may combine two paths.
[code]

[2019-09-16 06:19] ghost commented on #740
One can then combine paths.
[code]
![image](https://user-images.githubusercontent.com/35985244/64937485-47124700-d80f-11e9-9d1a-745e03d81428.png)

Now it is more a matter of using `/.style args` in the way that you want.

[2019-09-19 17:44] 3geek14 opened #749 "Table of Contents has wrong page numbers"
I found the documentation from [CTAN's page](https://ctan.org/pkg/pgf?lang=en) to look up the decorations library. In the table of contents on page 10, it says Chapter 24, Decorated Paths, starts on page 339. In actuality, it starts on page 361.  Many other page numbers are off, but this was the first one I noticed.

[2019-09-19 21:29] hmenke commented on #749
At least the hyperlink resolves to the correct page, so I think this is a minor problem.  I hope you are not printing out the manual.

[2019-09-20 10:35] #743 closed, assigned to nobody

[2019-09-28 09:05] tloimer opened #750 "With xelatex, \pgftext does not honor \pgfsetfillcolor"
The following code produces green-colored text when compiled with pdflatex or lualatex, but not with xelatex.
[code]

[2019-09-30 21:46] ghost opened #751 "Code example on p. 262 is not to the point"
The code example under **Styles for pics.** on p. 262 is not really to the point, it describes how to use `every node` instead. You could replace it e.g. by

[code]

[2019-09-30 22:54] hmenke commented on #751
Exact duplicate of #519.
Please search existing issues before opening a new one.

[2019-09-30 22:54] #751 closed, assigned to nobody

[2019-10-01 01:43] hmenke commented on #750
Removing the `force@reset@color` bits from `\pgfsys@hboxsynced` fixes the problem, but I don't know what else this will break.  The `\pgfsys@hboxsynced` is completely fucked for XeTeX anyway.  Literally all open XeTeX issues are because of that.
[code]

[2019-10-01 07:21] tloimer commented on #750
`pgfsys-dvipdfmx.def` in `pgf/systemlayer` states
[code]
But `\pgfsys@invoke` in `\pgfsys@hboxsynced` does not change the color, thus the color stack manipulations by `...@force@reset@color` indeed seem to be unnecessary. Who knows?

[2019-10-02 01:09] hmenke commented on #750
Unfortunately people like nesting TikZ pictures, like the following
[code]
and you don't want the color of the node to propagate into the nested picture.

[2019-10-03 18:13] j4cko opened #752 "'fill between' seems to distort coordinates / layers"
The following code distorts the position of the error markers:
[code]
![JiF55](https://user-images.githubusercontent.com/3092907/66152465-cda19380-e619-11e9-9aaa-c51acd900482.png)

If the fill-between line is commented out the error markers are as they should be.

I am not sure what is going on here..

[2019-10-04 06:24] Mo-Gul commented on #752
This is a problem related to `pgfplots`. Thus, you should (re)state the issue in the [PGFPlots Tracker](https://sourceforge.net/p/pgfplots/bugs/).

[2019-10-04 06:24] #752 closed, assigned to nobody

[2019-10-08 15:12] muzimuzhi opened #753 "Beginning space in argument of \pgfdeclarepattern raises error: do not know the key"
When I try to compile the example provided in tikz manual, sec. 62.3 _User-Defined Patterns_, I found that a beginning space in argument of `\pgfdeclarepattern` will raise an error:
[code]
The tex file has something like `\pgfdeclarepattern{ name=...}`, in which there is an un-trimmed space before the key `name`. This is the origin of problem.

<details>
  <summary>Full example</summary>

[code]
<

[2019-10-08 16:53] Mo-Gul commented on #753
Interestingly `\tikzdeclarepattern` doesn't raise that error. But I found two more as can be seen in the code given in https://github.com/pgf-tikz/pgf/issues/602#issuecomment-527564693 at the first `\draw` command in the document.

[2019-10-08 17:24] muzimuzhi commented on #753
By using `\tikzdeclarepattern`, the beginning space in arg never happens.
[code]

Related lines of source codes
https://github.com/pgf-tikz/pgf/blob/b26565670b822c292e706cf5c9d426a7099be6bd/tex/generic/pgf/frontendlayer/tikz/libraries/tikzlibrarypatterns.meta.code.tex#L63-L81
https://github.com/pgf-tikz/pgf/blob/b26565670b822c292e706cf5c9d426a7099be6bd/tex/generic/pgf/libraries/pgflibrarypatterns.

[2019-10-12 17:05] AlexDikelsky opened #754 "Typo in the minimal introduction to Tikz (minimaltikz.pdf)"
On page 11 of minimaltikz.pdf, it says "which is equal to 3:141592654". The colon there should be a period.

[2019-10-12 17:31] Volker-Weissmann opened #755 "Manual leaves out \usegdlibrary"
In the [manual](http://pgf.sourceforge.net/pgf_CVS.pdf), in section 19.2.2 at the bottom of page 265 we can find the line
`For instance, adding tree layout to the above code results in the
following somewhat more pleasing rendering`
. If you have a "\usegdlibrary{trees}" somewhere in your code it works fine, but without it compilation fails with the message:

I don't have a Problem with the fact t

[2019-10-13 05:51] joulev commented on #754
I believe this is not where you should report this. `minimaltikz.pdf` is not maintained by the PGF team.

The latest version is officially [here](https://cremeronline.com/LaTeX/minimaltikz.pdf), which also includes the typo. The author said in Section 1:

Therefore, I think you should send an email to [jacques.cremer@tse-fr.eu](mailto:jacques.cremer@tse-fr.eu).

[2019-10-13 11:34] AlexDikelsky commented on #754
Thanks! I just sent him an email.

[2019-10-13 11:34] #754 closed, assigned to nobody

[2019-10-18 17:01] TorbjornT opened #756 "\draw circle[radius=rand]; gives ellipses"
This was reported in https://tex.stackexchange.com/questions/389920/tikz-drawviolet-0-0-circle-rand2-is-an-oval#comment1296666_512741, and as requested by Henri I'm making a bug report.

My guess was that because `radius` sets `x radius` and `y radius` separately, they get different random numbers, and hence you get an ellipse with `\draw circle[radius=rand];`.

[code]

![image](https://user-image

[2019-10-18 19:08] hmenke commented on #756
This is actually a combination of two race conditions.  I've fixed it on my own branch but I'll wait for the CI before merging.

[2019-10-23 14:12] #756 closed, assigned to nobody

[2019-10-24 13:29] mkuron opened #758 "external library rebuilds figures when figure order changes"
When using `\usetikzlibrary{external}`, the externalized pictures get written to files named like `<main file name>-figure<number>`. As I just discussed with @hmenke, it would be useful if files could optionally be named by the MD5 sum (which is already calculated to detect changes). That would eliminate the need to rebuild unchanged figures, e.g. when reverting to a previous version of a figure,

[2019-10-25 07:52] Turgon-Aran-Gondolin opened #759 "External library spawns figures inside math environment"
I was using the following code to externalize the `tikz-feynman` diagrams

[code]

When the diagrams are in figure environment everything works fine. But those in `align` environment were generated twice. So my working dir is now filled with duplicated figures. While the md5 of those duplicated figures are exactly the same, they continue to exist and the compiling effort is doubled. Is there any w

[2019-10-25 13:05] Mo-Gul commented on #759
It would be nice if you could add a *full working minimal example* (MWE) which will make it much easier to see the issue and than hopefully provide a solution or fix.

[2019-10-25 15:11] Turgon-Aran-Gondolin commented on #759
This should reproduce what I described:
[code]

[2019-10-25 16:03] davidcarlisle commented on #759
`align` (like all AMS environments) evaluates its body twice, with `\ifmeasuring@` being true the first time and false the second, so probably you want to avoid the external calls  on the second pass.

[2019-10-25 19:26] dbitouze opened #760 "Help lines grid with coordinates"
Would be nice to provide an option that makes possible to easily add coordinates to an help lines grid, as in [this answer on SE](https://tex.stackexchange.com/a/39698/18401).

[2019-10-26 05:56] Turgon-Aran-Gondolin commented on #759
Thanks for pointing this out. Do you have a solution for this? I'm not really familiar with options of the external library and I'm not sure which one can achieve this.

[2019-10-27 05:32] hmenke commented on #760
Use `pgfplots`.

For example:
[code]

[2019-10-27 17:36] projekter commented on #744
This is an interesting and annoying issue that I also dealt with some years ago. The link is positioned incorrectly at the left. However, in Sumatra and Foxit, the is _also_ a link on the right-hand side, which is not the case in Acrobat and Poppler-based readers. Still, this second link is only due to the fact that the reader auto-detects that there is a url and for the user's convenience turns i

[2019-10-28 08:01] dbitouze commented on #760
Please let me explain in the following `.tex` file some possible use cases where `pgfplots` is at least overkilling and, AFAICS, doesn't help.

[code]
![test](https://user-images.githubusercontent.com/1032633/67661401-6d281c80-f961-11e9-821c-1af449bd1377.png)

[2019-10-28 17:28] AlexDikelsky opened #762 "[manual] Italics mistake in section 2.7"
![image](https://user-images.githubusercontent.com/52082790/67701487-036a3b80-f97e-11e9-961b-0c84b959a290.png)

The italics for the first 0 don't match the second. Also, maybe the 2 shouldn't be italicized for `step=2pt`
This is in section 2.7 on page 34, using version:
[code]

[2019-10-28 20:59] hmenke commented on #762
The problem is in `\pgfmanual@pretty@pgfkeys@collectvalue`
https://github.com/pgf-tikz/pgf/blob/1302de8a99834bb0e30ffc214a7350952c446ab6/tex/latex/pgf/doc/pgfmanual.prettyprinter.code.tex#L1030-L1061
in particular this line:
https://github.com/pgf-tikz/pgf/blob/1302de8a99834bb0e30ffc214a7350952c446ab6/tex/latex/pgf/doc/pgfmanual.prettyprinter.code.tex#L1056
It just collects everything up to the ne

[2019-10-28 21:12] hmenke commented on #760
Still I believe that `pgfplots` covers [80%](https://en.wikipedia.org/wiki/Pareto_principle) of all use-cases.  If you really want to have this, encapulate it in a TikZ library and open a pull request.

[2019-10-28 21:57] dbitouze commented on #760
I'm not enough a TikZ-expert to do this in a robust way, nor in the rules of art. That's the reason I requested this feature. Hence would be nice for this feature request to not be closed.

[2019-10-29 06:06] Mo-Gul commented on #760
Seeing your examples I just remembered that something similar is done to be able to add annotations to images in the [tikz-imagelabels](https://ctan.org/pkg/tikz-imagelabels) package. Maybe this is a good start to create a similar library for TikZ?

[2019-10-29 06:45] dbitouze commented on #760
@Mo-Gul Many thanks for this reminder! I was aware of this package but was unable to remember its name and find it. Nevertheless:

- having this as a TikZ built-in feature would be nice,
- this package is dedicated to images and doesn't apply to e.g. listings (from the `listings` package) whereas a node of a `tikzpicture` is perfectly able to contain verbatim material such as a listing.

[2019-10-29 07:13] hmenke commented on #760
Why?  We already know of two packages (`pgfplots`, `tikz-imagelabels`) that implement very similar functionality.  Wouldn't it be better to add the requested feature to one of these packages, rather than having yet another, slightly different, but also incomplete and incompatible implementation?

Mandatory XKCD in that context:
[![https://xkcd.com/927/](https://imgs.xkcd.com/comics/standards.png)]

[2019-10-29 07:23] dbitouze commented on #760
- It is  not clear `pgfplots` actually implements this functionality in an easy to use and simple way.
- `tikz-imagelabels` only applies to images.

[2019-10-29 13:31] eg9 opened #764 "Unprotected end-of-line in pgfutil-common.tex"
An unprotected end-of-line can cause spaces to creep in:
[code]
The problem is in line 712, but also line 714 should have `%` at the end for uniformity.

Reference: https://tex.stackexchange.com/a/513549/4427

[2019-10-29 17:35] Mo-Gul commented on #760
I have a quite simple solution for your problem using PGFPlots, which you simply didn't use right. I don't want to go into details *what* exactly you did wrong rather presenting the solution first which might be discussed later.

I just modified your code a bit for that.

[code]
which results in

![image showing the result of above code](https://user-images.githubusercontent.com/17992976/67793438-

[2019-10-29 18:06] dbitouze commented on #760
Very nice solution indeed, which could be subject to a library! Except maybe that loading `pgfplots` just for this is a bit overkilling, isn't it?

[2019-10-29 19:25] hmenke commented on #764
I can't see any spurious space there.
https://github.com/pgf-tikz/pgf/blob/25d4a606257e914d59b16a893a9caececd6659e3/tex/generic/pgf/utilities/pgfutil-common.tex#L712-L716

[2019-10-29 19:27] hmenke commented on #764
Indeed, this has already been fixed in https://github.com/pgf-tikz/pgf/commit/23a219483dfaf64f50a18bad8bb912db531501cf

[2019-10-29 19:27] #764 closed, assigned to nobody

[2019-11-01 12:52] exelian opened #766 "[fpu] Drawing a rectangle with rounded corners with fpu enabled throws an error."
I have an issue with the latest versions of pgf/tikz and fpu working working correctly. This problem occurs on multiple platforms (Windows 10, Freebsd 12.0) using MikTex and TexLive 2019 respectively.

I reduced the testcase to the following code:
[code]

By adding or removing the `\pgfkeys{/pgf/fpu=true}` you can make the test work or fail.

[output.log](https://github.com/pgf-tikz/pgf/files/3797

[2019-11-01 13:49] sasozivanovic commented on #369
There is a new situation triggering the bug, see [this answer on TeX.SE](https://tex.stackexchange.com/a/514491/16819). I believe the bug is triggered due to the increased accuracy of `\pgfpointnormalised` introduced in [this commit](https://github.com/pgf-tikz/pgf/commit/65b8261c63c6f4adfca60106528e2d1bf1e2cb60).

[2019-11-02 05:31] hmenke commented on #766
Probably a duplicate of https://github.com/pgf-tikz/pgf/issues/678.  Keep in mind that drawing with FPU enabled is *not supported*.  The FPU is only made for plotting functions.

[2019-11-02 11:30] exelian commented on #766
You're right, I missed the other ticket. I'll close this one.

[2019-11-02 11:30] #766 closed, assigned to nobody

[2019-11-03 02:23] PhelypeOleinik opened #767 "Spy anchor does not affect magnified box"
The code:
[code]
produces:
![test](https://user-images.githubusercontent.com/12678598/68079291-41c08a00-fdc6-11e9-807f-2b6df8cc60b8.png)
where the spied on square doesn't match the magnified one. Notice that the in the top square the line touches the upper edge, but in the magnified square the line goes through the middle.

The code works correctly if I comment `anchor = north`. If I brute-force c

[2019-11-03 04:23] joulev opened #768 "Something is wrong with the manual version on pgf-tikz.github.io"
On page 34

![image](https://user-images.githubusercontent.com/44609036/68080332-dc06e900-fe2b-11e9-908b-a1ff9e583d70.png)

This problem is in both https://pgf-tikz.github.io/pgf/pgfmanual.pdf and https://pgf-tikz.github.io/pgfmanual-0034.svg (current version, as of 4:22 AM 3 November 2019 UTC time).

And this is not the only example.

Apparently there are some problems with the way length units a

[2019-11-03 07:46] hmenke commented on #768
Probably due to this: https://github.com/pgf-tikz/pgf/commit/1302de8a99834bb0e30ffc214a7350952c446ab6

[2019-11-03 09:03] hmenke commented on #369
Thanks Sašo for investigating.  Can you suggest a fix?

[2019-11-03 09:19] sasozivanovic commented on #369
Confirmed, there are still some false positives. The lines below intersect at (7533.0596514639865, -18161.393051431558), which is out of TeX's range, so it should be reported as non-intersecting.

    \pgfintersectionofpaths{%
      \pgfpathmoveto{\pgfpoint{0.0pt}{3.22221pt}}
      \pgfpathlineto{\pgfpoint{12.31886pt}{-26.4825pt}}%
    }{%
      \pgfpathmoveto{\pgfpoint{8.98589pt}{3.22221pt}}%

[2019-11-03 09:32] sasozivanovic commented on #369
I looked at the code of `\pgf@iflinesintersect` just now, and in fact it had been recently (May 31) rewritten (commit 55d882f47e244e59e2c00ef4bc93f8bddd90199d). Even though this bug wasn't closed, the example in my original bug report is now ok!

I'll investigate the new situation further to see if I was correct in thinking that the `dimension too large` occurs while computing the intersections.

[2019-11-03 12:01] sasozivanovic commented on #369
In fact, I have a suggestion for a fix!

I have identified the points in `\pgf@iflinesintersect@` where the DTL error occurs. If FPU is used there instead of TeX's math, the macro correctly reports whether the lines intersect.

I'm attaching [the patch](https://github.com/pgf-tikz/pgf/files/3801524/iflinesintersect--use-fpu.txt), but I believe it shouldn't be used as it is, as don't really know ho

[2019-11-03 20:28] hmenke commented on #369
Thank you for the patch, but we can't use the FPU here, because it comes with a critical performance hit.

[2019-11-03 21:55] hmenke commented on #768
[![fixed](https://user-images.githubusercontent.com/1903556/68092576-8563e280-fef1-11e9-8c49-18553c1f3325.png)](https://pgf-tikz.github.io/pgfmanual-0032.svg)

[2019-11-03 21:55] #768 closed, assigned to nobody

[2019-11-03 22:21] hmenke commented on #717
Short investigation shows that this is most likely a duplicate of https://github.com/pgf-tikz/pgf/issues/311

[2019-11-04 00:56] #762 closed, assigned to nobody

[2019-11-04 00:56] #753 closed, assigned to nobody

[2019-11-04 00:57] hmenke commented on #747
I've implemented the suggestions with the quotes but I will not change the core behaviour.  I'm thus marking it as fixed.

[2019-11-04 00:57] #747 closed, assigned to nobody

[2019-11-04 02:24] #718 closed, assigned to Mo-Gul

[2019-11-04 04:28] #720 closed, assigned to nobody

[2019-11-04 05:28] hmenke commented on #734
The problem is neither `floor`, nor `int`, but the fact that
[code]
outputs `1Y2.9999e0]`.

[2019-11-04 05:49] hmenke commented on #734
The two input arguments to `\pgfmathfloatdivide@` are getting rescaled here:
https://github.com/pgf-tikz/pgf/blob/08275e3034d5f64fa43ff1e0af0991911f1fb21a/tex/generic/pgf/libraries/pgflibraryfpu.code.tex#L1297-L1303
After that we have `\pgfmathfloat@arga=12.000` and `\pgfmathfloat@argb=40.00`.  Most of the rest of the function does nothing because neither number is negative, or zero, or nan, or in

[2019-11-04 06:28] #717 closed, assigned to nobody

[2019-11-04 06:28] #728 closed, assigned to nobody

[2019-11-04 06:28] #767 closed, assigned to nobody

[2019-11-04 16:41] muzimuzhi commented on #753
Thanks.

[2019-11-04 17:17] Mo-Gul commented on #728
Maybe it's even worse to add a sentence *why* the curly braces are needed as you did in your [above comment](https://github.com/pgf-tikz/pgf/issues/728#issuecomment-519684158).

So something like:

[2019-11-06 03:32] ghost opened #769 "pgf/doc/generic/pgf/text-en/pgfmanual-en-installation.tex: Using the ConTeXt format claims that 'ConTeXt restricts the length of module names to 6 characters'. Is this still true?"
ConTeXt Garden has the following disclaimer:

https://www.contextgarden.net/Modules

Legacy modules disclaimer
Prior to release 2005.05.25, ConTeXt silently truncated all file names in \usemodule commands to 8 characters long and lowercased them to "prevent cross platform problems with filenames". Thus, module files that are to be used with older versions of ConTeXt must have filenames that fit th

[2019-11-06 03:55] hmenke commented on #769
I don't know whether it still applies.  I don't even know whether PGF still works with ConTeXt MkII (it definitely works with MkIV).  All the installation instructions and package version requirements in the manual are horribly outdated anyway.  I think all this stuff should be removed.  The only reliable way to figure out whether PGF works with your system is by trying it out.

[2019-11-07 18:37] CodingComputing opened #770 "Problem with `sloped` in `grow cyclic` tree."
Stack Exchange link (https://tex.stackexchange.com/questions/515386/tikz-problem-with-sloped-in-cyclic-tree/).

In a `grow cyclic` tree, using `sloped` does not affect the sloping of a node on `edge from parent`.

Code:
[code]

Gives this output: https://i.stack.imgur.com/pDf2z.png
The words Types and Strategies are not being sloped.
They are rendered as horizontal text.

----

Credits to tex.stac

[2019-11-08 10:10] sasozivanovic commented on #369
You're right, of course. The FPU-based patch increased the execution time by 4%, and I have noticed that it didn't address even half of the problematic points. The new fix incurs about 1.5% overhead. I've tested it extensively: the errors are gone, and the results match what Python computes (within the bounds of of TeX's precision) -- one can even use dimensions all the way up to `\maxdimen`, as l

[2019-11-08 10:17] sasozivanovic commented on #369
Incidentally, there's a `pool size` error when testing with a million intersections, but I'm guessing it is not produced by my code ... at least I don't see how it could be. The thing is, the error was impossible to reach in the version which overflowed, as a hundred `dimension too large` errors were reached very soon.

[2019-11-08 21:06] Ndolam commented on #749
I don't know about 3geek14, but although I don't print the manual, there are times when I do want the page numbers to match up.  Does this look like a hard problem to solve?

[2019-11-08 22:28] hmenke opened #772 "RGB colour model for plain TeX users"
From the mailing list:
[code]

[2019-11-08 22:30] hmenke commented on #749
Not a hard problem at all, however, I'm planning to solve this issue by rolling out a new build system altogether, which will take some more time.

[2019-11-09 00:50] Ndolam commented on #749
OK, thanks very much.

[2019-11-09 00:54] Ndolam commented on #772
Hi again Henri,

I will also put this on github, but a couple of minutes of playing
around gave me
[code]
I realize that converting cmyk to rgb is a lot more contentious than
converting RGB to rgb, but in case anyone aside from me thinks this is
more useful than harmful, ...

Cheers.
                                Jim

[2019-11-09 15:31] LarrySnyder opened #773 "Anchor gets overwritten with "every label""
When using `anchor=base` for node labels so that the labels are aligned at their baselines, TikZ seems to respect the setting if I set the option in the label itself, but not if I set the option globally.

Please see my question at https://tex.stackexchange.com/q/515646/63847, as well as the answer at https://tex.stackexchange.com/a/515662/63847.

[2019-11-09 15:33] ghost opened #774 "Label anchors get set "too early""
Setting label anchors with `every label/.style` has no effect since the anchor gets overwritten. One way to resolve this is to add "late options" for labels, something like
[code]

and something analogous for the active case. Then the user could set the anchors labels with `every label add/.style={anchor=...}`. This has been discussed in https://tex.stackexchange.com/a/515662/194703.  (Moving `eve

[2019-11-09 17:12] ghost commented on #774
@hmenke  Before you get mad at me: I also see that there is this post: https://github.com/pgf-tikz/pgf/issues/773 submitted a few seconds before this. However, I feel that the other post is not fully to the point, yet the issue is the same.

[2019-11-09 23:24] hmenke commented on #773
Closing in favour of #774, because that is actually a proper bug report and not just a link to some external site.

[2019-11-09 23:24] #773 closed, assigned to nobody

[2019-11-09 23:26] LarrySnyder commented on #773
OK. Sorry. This was my first time submitting a bug report on github so I didn’t know the protocol.

Larry
On Nov 9, 2019, 6:24 PM -0500, Henri Menke <notifications@github.com>, wrote:

[2019-11-09 23:26] hmenke commented on #774
Related? #643

[2019-11-09 23:28] #298 closed, assigned to nobody

[2019-11-09 23:32] hmenke commented on #773
I think it applies in general that developers are more interested in fixing the actual bugs rather than trying to make sense of the ticket by chasing links and piecing together information from third-party sites.

You can always *add* a link to your Stack Exchange post, but that does not replace a proper description of the bug and a minimal (non)working example.

[2019-11-09 23:53] ghost commented on #774
@hmenke  Yes, it is. It is the same problem for pins. The above proposal would also work there. Of course, there could be pit falls. But adding a separate key for the late options, combined with a warning that this  may change the expected behavior, may be sufficiently clean.

[2019-11-10 00:02] LarrySnyder commented on #773
OK, fair enough. To be honest I do not fully understand the bug or what causes it, so I figured it best to point to the MWE and discussion on Stack Exchange. In any case, I know for next time, and I appreciate your handling of the ticket—not to mention your work on TikZ, which I use extensively.

Larry
On Nov 9, 2019, 6:32 PM -0500, Henri Menke <notifications@github.com>, wrote:

[2019-11-10 04:21] hmenke commented on #774
Actually I can't really see a reason why we can't simply reorder
[code]
to
[code]
You say that it will break existing documents.  Can you give a convincing example for that?

[2019-11-10 04:25] hmenke commented on #774
In fact, I believe the correct order would be
[code]
i.e. private keys (those with `@`) first, then defaults for public keys, then `every <whatever>`, and last keys passed by argument.

EDIT: `tikz@label@post` actually executes code based on the previously set parameters, so the order has to be
[code]

[2019-11-10 04:53] hmenke commented on #772
Hmmm... Conversion of RGB to CMYK depends on the used color profile.  I don't know what `xcolor` does but your proposal seems a bit too naive.

[2019-11-10 05:05] ghost commented on #774
@hmenke  I fully agree that this is the appropriate order. What I meant by something may break is that obviously so far setting an anchor with `every label` has had no effect. So if this is going to be changed, existing document in which the users have added the anchor that way may now yield different results. Maybe I am just overly cautious.

[2019-11-10 05:09] hmenke commented on #774
Okay, but I am not aiming to be as compatible as LaTeX2e such that relying on buggy behaviour is supported.

[2019-11-10 05:31] #770 closed, assigned to nobody

[2019-11-10 05:32] #727 closed, assigned to nobody

[2019-11-10 07:09] ghost commented on #774
@hmenke  OK, sounds good! Maybe one should still mention in the manual that this has changed.

[2019-11-10 15:26] Ndolam commented on #772
On Sat, Nov  9, 2019 at 20:53 (-0800), Henri Menke wrote:

It is naive, in some sense.  It is also (as far as I can tell) what
ghostscript does with the -dUseFastColor argument.  In some respects,
this is the right thing to do for on-screen viewing, since all the
colour profiles that I have seen do weird things to many of the
colours when displayed on-screen.  For example, looking at the
visualtik

[2019-11-10 19:46] Mo-Gul opened #775 "[patterns.meta] add `shift` to `(new) lines` example"
Please add a `shift` key to the `(new) lines` pattern as requested in https://github.com/pgf-tikz/pgf/issues/602#issuecomment-527564693 item 4.

[2019-11-10 19:46] Mo-Gul opened #776 "[patterns.meta] implement "most used patterns""
This is a copy of https://github.com/pgf-tikz/pgf/issues/602#issuecomment-527573213.

---

What do you think about providing either an additional sub-libraries with some general implementation of the "most used patterns" or providing them directly with `patterns.meta`. I think that the "most used patterns" will be the ones that are already given in the `pattern` library. So that would be something

[2019-11-11 00:58] hmenke commented on #775
Hm.  Currently `patterns.meta` is a PGF library for maximum flexibility.  I don't want to restrict it to only work with TikZ, but to parse `Lines[shift={(1,2)}]` I need to invoke `\tikz@scan@one@point`.  I'll have a look whether I can extend patterns from TikZ.

[2019-11-11 05:04] Mo-Gul commented on #775
If it helps:
It does not necessarily have to be the classical `shift` that is needed here. Optimally it would be a key --  e.g. `offset` -- that accepts values between `0` and `1` which will be a multiplier of `/pgf/pattern keys/size` (and of course respects/accounts for `/pgf/pattern keys/angle`).

[2019-11-11 17:31] ghost commented on #775
Sorry to interfere, but it seems that the examples under [this comment](https://github.com/pgf-tikz/pgf/issues/602#issuecomment-527564693)  use `\tikzdeclarepattern`. This suggests that it requires Ti*k*Z to work. So `shift={(x,y)}` should be OK. Am I missing something?

[2019-11-11 19:54] hmenke commented on #775
Yes, you are missing the fact that I implemented them with `\pgfdeclarepattern` now: https://github.com/pgf-tikz/pgf/commit/6fa03ff6b31e47e2d820eda206775ea55f0dec85

[2019-11-12 01:39] hmenke commented on #772
Support for RGB has been added. https://github.com/pgf-tikz/pgf/commit/8a558df66ad76833c9aa4e391a1c9a9057354dc8

[2019-11-12 01:39] #772 closed, assigned to nobody

[2019-11-12 01:39] #774 closed, assigned to nobody

[2019-11-12 04:06] ghost opened #777 "Weird behaviour of (node cs:)"
I am sorry for a bit not MW example.
[code]
On my computer it is rendered like this:

![image](https://user-images.githubusercontent.com/2077025/68641033-87a6ec00-0544-11ea-9794-5accdbcc8d6d.png)
Now let me do a tiniest modification in the last line of `tikzpicture`: replace 183 with 182.999

![image](https://user-images.githubusercontent.com/2077025/68641091-c341b600-0544-11ea-8567-7bf2b099c761.p

[2019-11-12 04:12] hmenke commented on #777
That is not a **minimal** working example.  I will reopen the issue once a true MWE is added.

[2019-11-12 04:12] #777 closed, assigned to nobody

[2019-11-13 21:29] hmenke commented on #731
I intend to close this be removing `\raw<x,y,z>` and `\coord` again.  They were never documented and the experiment has clearly failed.  I will however retain access to the “declared” coordinates of points (https://github.com/pgf-tikz/pgf/commit/dda04d3fc57378dcc178f74a8544480af5f2300a).  This might come in handy at some point.

[2019-11-13 21:41] ghost commented on #731
I strongly object to this. You seem not have had a look at 3dTools at all,
you were only seeing `tikz-3dplot`. which is not at all needed. Well, if
you want to destroy the work of many hours, go ahead, but do not expect
anyone to ever try to do something that extends Ti*k*Z in any way. I will
make sure that they learn what happened here.

[2019-11-13 22:10] hmenke commented on #731
There are some strong feeling involved here.  As far as I can see, this issue has nothing to do with 3dtools.  Your 3dtools library does not make use of either `\raw<x,y,z>` nor `\coord`, so I don't see how their removal destroys your works.  As mentioned in my earlier comment in this thread, access to the “declared” coordinates, which *is* used by 3dtools will stay.

[2019-11-15 02:53] hmenke commented on #731
I removed `\raw<x,y,z>` and `\coord` now, but I repeat, `\tikz@dcl@coord@<name>` is still there!

[2019-11-15 02:53] #731 closed, assigned to nobody

[2019-11-18 00:10] AlexDikelsky opened #784 "[manual] GNU's Not Unix!"
[code]
On Page 4, it says GNU stands for "GNU is not unix", which is not how it is usually styled. Based on the wikipedia page (https://en.wikipedia.org/wiki/GNU), it's "GNU's Not Unix!"

[2019-11-18 01:31] #784 closed, assigned to nobody

[2019-11-18 07:38] hmenke opened #785 ""\coordinate at" scans point again"
**Brief outline of the bug**

When using the `\coordinate at` syntax, the provided point is scanned three times, which is two times too many.  This overwrites the value of `\tikz@scan@point@coordinate` which breaks `\tikz@dcl@coord@<name>`.
[code]

**Minimal working example (MWE)**

[code]

[2019-11-18 07:46] hmenke commented on #785
A quick fix for the problem is changing the definition of `\tikz@@coordinate@at@math` from originally
[code]
to
[code]
i.e. reinsert the scanned coordinate again instead of the transformed `\pgfpoint`.
[code]
This fixes clobbering of `\tikz@scan@point@coordinate` but now the coordinate is scanned four times!
[code]

[2019-11-18 08:48] hmenke commented on #785
I was grepping for the wrong thing.  It is actually only set twice, just as before.

Before:
[code]
After:
[code]

[2019-11-18 10:30] hmenke commented on #785
Doesn't work with the `calc` library, though (yet),

[2019-11-18 10:30] #785 closed, assigned to nobody

[2019-11-20 00:03] hmenke commented on #726
The fix to `ticks={style=...}` should not cause any trouble but to fix `every grid/.append style={style=...}` I have to change the order of evaluation and therefore the precedence.  So setting `style` in `every grid` will now override settings for `style` in `every major grid` and `every minor grid`, but that is also documented.

[2019-11-20 00:03] #726 closed, assigned to nobody

[2019-11-20 17:28] proteusGIT opened #786 "Babel and ngerman incompatibility"
It was recently discussed on de.comp.text.tex https://groups.google.com/forum/#!topic/de.comp.text.tex/OCdOU_etJ7U that the catcodes are not reset at the beginning of the tikzset command.
While this seems to be stated like this in the documentation, it might still not be the desirable behavior.
Then, tikzset must be in the preamble, inside a tikzpicture, or some catcode management has to be done b

[2019-11-20 21:07] hmenke commented on #786
Sorry, but won't fix.  It would lead to things like this:
[code]
![broken](https://user-images.githubusercontent.com/1903556/69278194-b1e46200-0c46-11ea-8c6b-81031d135036.png)

[2019-11-20 21:07] #786 closed, assigned to nobody

[2019-11-20 21:27] hmenke commented on #335
This is a really nasty one.  Even if we don't require `{}` we still somehow have to differentiate between these two situations.  This will require a lot of extra code.
[code]

[2019-11-21 11:06] proteusGIT commented on #786
I am not expert enough to have an opinion here.
Since it is a bit difficult to figure out a solution, it would be great to have a warning/error message whenever a user with that setup uses tikzset outside of preamble and tikzpicture.

[2019-11-21 20:14] hmenke commented on #786
No, I don't think I will do that.  There is absolutely no advantage from issuing a warning.  It will only spam people's log file.  As you mentioned, this behaviour is documented, which in this case I believe is sufficient.

BTW, you can apply the same trick that I used above to simulate resetting of catcodes, to make your example work as well:
[code]
or, if there is something you don't want to hav

[2019-11-23 02:59] hmenke commented on #335
Just for reference, here is the code.  We'd need some sort of backtracking in `\tikz@collect@paran`.
https://github.com/pgf-tikz/pgf/blob/969b1f8d5cd0459aa13dcfa4478159301139c93e/tex/generic/pgf/frontendlayer/tikz/tikz.code.tex#L2781-L2862

[2019-11-23 20:37] hmenke opened #787 "Drawing code clobbers \pgfmathresult"
**Brief outline of the bug**

Ti*k*Z uses `\pgfmathparse` internally for computations of position, etc. all over the place.  That also means that drawing code usually clobbers `\pgfmathresult`.  This is quite annoying and a common pitfall for users.

**Minimal working example (MWE)**

[code]
The output is `6` instead of `3`.

[2019-11-23 20:37] hmenke commented on #304
Duplicate of #787

[2019-11-24 02:37] hmenke commented on #479
Works with the latest master.

[2019-11-24 22:57] hmenke commented on #456
What is going on here is that `\coordinate (a) at (0,0);` associates the point `(0,0)` *in the current coordinate system* to `(a)`.  So when you rotate the coordinate system but request `(a)`, you will get the point `(0,0)` in the coordinate system that was active when `(a)` was assigned.

In fact, PGF is going out of its way to undo any transformation when determining node anchors.  You can of co

[2019-11-25 15:29] QJLc opened #788 "The function value about *ln(2^(-11.9))*"
The MWE is:
[code]
the output:
[code]
`0.000261663` is an approximation to `2^(-11.9)`.

On other calculator, such as *Excel*, `ln(0.000261663)` produces `-8.248453142`.

In file *pgfmathfunctions.basic.code.tex*, the numbers in line **437** and line **457**  are same. After I noted the comment in line **437**, I changed the number in line **437** into `0.00048828125`, which is  an approximation t

[2019-11-25 20:45] hmenke commented on #788
Bug reports **MUST** include a MWE!

[2019-11-25 22:48] ghost opened #789 "Turtle's forward does not parse its argument"
Turtle's forward does not parse its argument. As a consequence, if you pass an expression with brackets, say, this leads to an error. The other turtle keys seem to parse their arguments. The following MWE shows the issue and has a suggestion for a fix.

**Minimal working example (MWE)**

[code]

[2019-11-25 22:58] hmenke commented on #789
The fix is much simpler than what you propose:
[code]
I also don't like `/utils/exec` and you should be aware that you can only have a single `/utils/exec` on the whole path, because it doesn't stack.

[2019-11-25 23:01] ghost commented on #789
@hmenke  I agree that your fix is simpler.

[2019-11-25 23:06] hmenke commented on #789
Also `how/.style={color=blue}` does not work (and cannot work) because you cannot have different colors for segments of a path.  That is a PDF limitation.  Maybe it should throw an error, but that is relatively hard to do consistently and also doesn't occur too often.

[2019-11-25 23:09] ghost commented on #789
@hmenke  Yes, I kept this `how` from an answer on TeX.SE. And I agree. This was to mention the issue, and I am glad you fixed it. (BTW, the search engine on GitHub is pretty poor. It is nontrivial to check whether this issue has already been reported.)

[2019-11-25 23:17] hmenke commented on #789
This is mainly to avoid people spamming duplicates of the same issue right after a release like #675, #680, #697.  Don't bother with it too much.  In the present case, if searching for `turtle` doesn't bring up a dupe, you can just open a new one.

[2019-11-25 23:53] #789 closed, assigned to nobody

[2019-11-25 23:59] hmenke commented on #789
BTW, there is another possibility to fix this.  Add this to your preamble:
[code]
and then use
[code]
This new handler will be built into the next release.  I just added it a few days ago: https://github.com/pgf-tikz/pgf/commit/09c0e86b3b12bcdb16c96e5ccfd73fdbb95ffc7f

[2019-11-26 06:59] ghost commented on #789
@hmenke  That's actually a *really* great tool to have! Apart from the applications you highlight, you could imagine adding an fpu version which only switches for the evaluation of these keys to fpu.

[2019-11-26 11:51] flying-sheep opened #790 "ConTeXt: \AtBeginDocument is defined as {#1}"
**Brief outline of the bug**

Pgfplots [uses `\AtBeginDocument`](https://github.com/live-clones/pgfplots/blob/f1eca1919d73d7b7bcaaad9506ea21d6b6ba4fd5/tex/generic/pgfplots/sys/pgfplotssysgeneric.code.tex#L82) to display a message unless it’s disabled.

Despite setting `\pgfplotsset{compat=1.14,compat/show suggested version=false}`, I still see:

(note that I really do see `\mostrecent`, it’s not b

[2019-11-26 20:47] #790 closed, assigned to nobody

[2019-11-27 02:25] hmenke commented on #788
Thank you for this bug report.  The hardcoded constant is indeed wrong.  Now it is much closer to the IEEE value:
[code]
[code]
It's still not exactly there, but the precision of TeX is also very limited.

[2019-11-27 06:35] #788 closed, assigned to nobody

[2019-11-27 10:41] #775 closed, assigned to nobody

[2019-11-27 10:42] hmenke commented on #776
I haven't implemented `Bricks` and `Checkerboard` but I don't think they are widely used anyway.
https://tex.stackexchange.com/search?q=[tikz-pgf]+bricks brings up 37 hits
https://tex.stackexchange.com/search?q=[tikz-pgf]+checkerboard brings up 31 hits
Considering that the total number of questions tagged [tikz-pgf] is 24,295 this seems negligible.

[2019-11-27 10:42] #776 closed, assigned to nobody

[2019-11-27 21:46] hmenke commented on #734
@Mo-Gul I'm about to close this as wont-fix because I can't actually do anything about it.  Are you okay with that?

[2019-11-28 01:26] hmenke commented on #730
Partial fix:
[code]

[2019-11-28 02:56] hmenke commented on #730
I have found, that I can fix the problem by rotating the anchors by hand.
[code]
![](https://user-images.githubusercontent.com/1903556/69772914-2fcfdc80-11f6-11ea-95a1-86c9cea21a31.png)

My first thought was to just rotate the anchors by the current transformation angle, but that does not work, because this will screw up the `transform shape` variant, where the anchors are rotated already.  In fac

[2019-11-28 04:33] hmenke commented on #420
The fundamental problem is that for `shape=coordinate` the internal `\iftikz@shapeborder` is false and the moveto code seems to do something wrong here.

[2019-11-28 05:45] hmenke commented on #775
All the new patterns now have a `xshift` and `yshift` key.  These two dimension are just passed to `\pgftransformshift`.  The shift is applied before rotation.
https://github.com/pgf-tikz/pgf/blob/b2bbefdafe79bbff8f5e9eab9877a980db36eaef/doc/generic/pgf/text-en/pgfmanual-en-library-patterns.tex#L242-L250

[2019-11-28 20:45] hmenke commented on #442
That is by design, `pgfinterruptpath` is not a scope.  This works as expected.
[code]

[2019-11-28 21:14] hmenke commented on #334
I remember looking at this and there was a reason why it wasn't possible.  I'll check again.

[2019-11-28 21:22] hmenke commented on #356
Aha! Another `\iftikz@shapeborder` issue.
Related #420

[2019-11-28 21:38] hmenke commented on #368
@u-fischer I came up with this very unconventional patch.  What do you think?
[code]

[2019-11-28 21:50] hmenke commented on #381
Seems to have been fixed at some point.

[2019-11-28 21:53] hmenke commented on #382
@Mo-Gul Isn't this a `pgfplots` bug?  Can you provide a MWE?

[2019-11-28 22:56] hmenke commented on #427
Duplicate of #428 (?)

[2019-11-28 23:01] hmenke commented on #442
@EvanAad Are you the same person as evan-aad on SourceForge?

[2019-11-28 23:11] hmenke commented on #495
The problem here is that the link to `/pgf/arrow keys/left` overrides a previous link to `/tikz/left`.  Maybe overriding should only be allowed, if the new key is “less qualified”.  In this case `/tikz/left` has only one level of nesting, whereas `/pgf/arrow keys/left` has two levels of nesting, i.e. `/tikz/left` should take precedence.

[2019-11-29 01:42] NathanDunfield opened #791 "Problem with simultaneous naming and decorating of a path in 3.1.2 and newer"
The below MWE compiles with pgf 3.1.1 but with pfg 3.1.2 or newer I get the error:

[code]
Here is the (non)working example; if you delete the `postaction` on the first draw command then it compiles with pgf 3.1.2.

[code]

In case this matters, the systems I'm testing this on are both macOS (10.12 and 10.14) with MacTeX 2019 which were downloaded at different times and so have slightly different

[2019-11-29 02:03] hmenke commented on #791
This was broken in https://github.com/pgf-tikz/pgf/commit/fb5d73081d836faa200dec9a46dadf6f93926e79 and fixed in https://github.com/pgf-tikz/pgf/commit/5e2f4a884cc0886fbce3f063f5b6705dfff37a89 so it doesn't show up on the latest master.

If you need a workaround in the meantime you can use this, which restores the 3.1.1 behaviour:
[code]

[2019-11-29 02:03] #791 closed, assigned to nobody

[2019-11-29 02:04] hmenke commented on #791
Related to #284

[2019-11-29 04:43] NathanDunfield commented on #791
@hmenke  Many thanks for the very quick and helpful response!

[2019-11-29 06:56] hmenke commented on #480
Pure PGF reproducer.
[code]

[2019-11-29 07:46] EvanAad commented on #442
I am the same person.

On Fri, Nov 29, 2019 at 1:02 AM Henri Menke <notifications@github.com>
wrote:

[2019-11-29 07:52] hmenke commented on #442
@EvanAad Great! I've recently acted on some of the issues that you opened, but of course you weren't notified.  Maybe you want to have a look and comment:
https://github.com/pgf-tikz/pgf/issues?q=is%3Aissue+sort%3Aupdated-desc+evan-aad

[2019-11-29 08:00] EvanAad commented on #442
I'm afraid I haven't used PGF/TikZ since roughly the time I reported these
issues. I'd be like a fish out of water going back to them at this point.

On Fri, Nov 29, 2019 at 9:52 AM Henri Menke <notifications@github.com>
wrote:

[2019-11-30 12:09] Mo-Gul commented on #776
I am ok with this. Thank you for the implementations!!

[2019-11-30 12:14] Mo-Gul commented on #734
If there *really* isn't anything that you can do I/we'll have to live with it and it is fine to close it.

So please allow me to ask for one maybe possible solution/workaround:
Would it be possible to implement a special handler that checks for the result of `0.29999pt` and than change that to `0.3pt`?

[2019-11-30 18:03] projekter opened #793 "`\anchorborder` behavior documented wrongly"
Version: 3.1.4b

The documentation of the `\anchorborder` feature (p. 1129) seems to be wrong, although it _would_ make a lot of sense if it were implemented in this way. It states that

However, only the second part is correct: The macro should set `\pgf@x` and `\pgf@y` to an appropriate position _in the shape's coordinate system_, then `\pgfpointshapeborder` will take care of transforming it bac

[2019-11-30 20:10] astoff opened #794 "Machine-readable documentation"
It would be great if the PGF manual was easier to parse in order to extract the basic details about each command and key. This, in turn, would be useful for a text editor to provide completions, docstrings, and links to the full manual.

Currently, it is easy to extract from the manual a list of commands, environments, keys, libraries, etc. It's feasible (but not completely reliable) to get the ar

[2019-11-30 20:31] Mo-Gul commented on #382
Most likely you are right. I created a new ticket in the PGFPlots Tracker (https://sourceforge.net/p/pgfplots/bugs/230/).

[2019-11-30 22:10] hmenke commented on #793
Thank you for the extensive survey.  As you have already noted, I cannot change the default behaviour here as it would break the clients.  Instead I will adapt the documentation, just as you suggested.

[2019-11-30 22:13] hmenke commented on #794
Do you have a particular use-case in mind?  It seems like this is just going to be a huge amount of work for me with no real benefit to the average PGF/Ti*k*Z user.  If you need this for interfacing with other languages than TeX, I have to disappoint you.  The development audience of PGF/Ti*k*Z is only TeX users.

[2019-12-01 04:25] hmenke commented on #794
Also, TeXstudio for example already has autocompletion for Ti*k*Z:
https://github.com/texstudio-org/texstudio/blob/master/completion/tikz.cwl

[2019-12-01 04:51] hmenke commented on #794
There was a related question on TeX.SX once:
https://tex.stackexchange.com/questions/84753/summary-of-tikz-commands

[2019-12-01 07:32] hmenke opened #795 "local bounding box after clip does not place node"
**Brief outline of the bug**

When a `pic` is placed and a node assigned so that its `local bounding box` can be referenced and it is preceded by a `\clip`, the node is created but never placed.  That implies that all operations relative to this node are also never placed.

**Minimal working example (MWE)**

[code]

[2019-12-01 08:43] astoff commented on #794
My use-case is autocompletion inside a TeX editor, just like TeXstudio. But I would like to have complete, easy to update data, and I would like to have docstrings and links to the manual. In fact, I have done something in this direction for the autocompletion library that I'm writing; you can see the data file I generated [here](https://github.com/astoff/digestif/blob/master/digestif-data/tikz.lu

[2019-12-01 08:52] astoff commented on #794
Here's one pretty down-to-earth idea that would help. In the manual, the `{command}` environment takes one argument with the command signature. It's usually something easy to parse, like this:
[code]
But sometimes there is random markup inside this argument, like `\texttt` or `|{|`. If it was possible to get rid of all this visual markup, and replace it by some "machine-readable" logical markup, i

[2019-12-01 09:14] astoff opened #796 "Permalinks are broken in recent versions of the manual"
Until at least version 3.0.1a, the PGF manual used to have "permalinks", that is, named destinations like `pgf./tikz/dash:pattern` or `pgf.<CS>draw` that wouldn't change across versions.

In version 3.1.4b, those permalinks are gone, and are replace by things like `pgfmanual-pos-84`, which don't seem to be durable. See for instance [this link](http://texdoc.net/texmf-dist/doc/generic/pgf/pgfmanual

[2019-12-01 09:51] hmenke commented on #796
That is likely a problem in `hyperref`.

[2019-12-01 09:51] hmenke commented on #794
It's not possible to get rid of the additional markup because that is just how TeX works.  It should be obvious why
[code]
will not display correctly and
[code]
is necessary.  You could pack it in a box and walk the resulting node list in LuaTeX, but that would only work at runtime and not statically from source, which what you want I guess.

[2019-12-01 09:56] davidcarlisle commented on #796
I don't think we have intentionally changed anything in hyperref there in recent years, however anything's possible. If an example that's a bit smaller than the tikz manual could be posted to
https://github.com/latex3/hyperref/issues
we'd certainly look....

[2019-12-01 09:59] hmenke commented on #796
I quickly browsed through the macros and it seems that the manual is overriding `hyperref` there to make the manual compatible with `dvisvgm` which does not support “permalinks”, although I don't even think that this is supported by PDF and rather just a viewer feature that there is some kind of link name translation.

[2019-12-01 10:05] hmenke commented on #796
For reference:
https://github.com/pgf-tikz/pgf/blob/d8ae2fc6295699ca7747d181bc8ed50136b6e6a3/doc/generic/pgf/macros/pgfmanual-en-macros.tex#L18-L33

[2019-12-01 10:16] hmenke commented on #796
@davidcarlisle Would it be possible to have `hyperref` [percent-encode](https://en.wikipedia.org/wiki/Percent-encoding) links when using `dvisvgm`?  Then I could get rid of all the extra code.

[2019-12-01 11:21] davidcarlisle commented on #796
@hmenke  the answer must be yes, I'll have to have a look what it's currently doing. A dvisvgm test case in a hyperref repo issue  would be appreciated (otherwise I might simply forget:-)

[2019-12-01 11:36] astoff commented on #794
Well, one could easily replace ``\char`\{`` with a macro, say `\leftbracechar`; likewise, one could define macros so that
[code]
can be rewritten as, say,
[code]
and so on. Note that there is already the `\marg` macro and variants, but some places in the manual do manual markup like ``{\char`\{}\meta{argument name}{\char`\}}``. This variety of syntaxes makes the manual hard to parse.

By cleaning

[2019-12-01 20:39] hmenke commented on #794
This sounds to me like you are not parsing the manual at all, but instead trying to regex-match your way through.  This will not and cannot work because TeX is not a regular language.  Not sure whether I want to support poor matchers at the expense of reworking the markup of thousands of pages of manual.

[2019-12-01 20:40] #795 closed, assigned to nobody

[2019-12-02 05:54] hmenke commented on #796
It seems as if `dvisvgm` has changed and does not use the label directly anyway.  I have removed all the `\cleanuplink` bullshit and now the links in the SVG look like this
[code]
Note how the label is actually in `xlink:title` and not in `xlink:href`.

@astoff The PDF manual should have human readable link labels again.  You can check here: https://pgf-tikz.github.io/pgf/pgfmanual.pdf
However, I

[2019-12-02 05:54] #796 closed, assigned to nobody

[2019-12-02 08:18] astoff commented on #794
Exactly! But there is a reason for this. If I wanted to reconstruct the output of the manual letter by letter, I would just run latex. Instead, I want to collect semantics that are only accessible in the logical markup.

This is exactly the same reason why we write `\section{Such and such}` and not `{\par\bg\Large 1. Such and such}`. The former has more information, although the PDF output is the

[2019-12-02 08:30] astoff commented on #796
Great! The command hyperlinks changed from, say, `pgf.<CS>draw` to `pgf.back/draw`. This is a minor issue, but it would be nice to try to stabilize around one convention.

[2019-12-02 17:06] jeanprey opened #797 "ConTeXt, remember picture and lastxpos"
Using remember picture with ConTeXt produces a fatal error.

The problem seems to be that \lastxpos and \lastypos are strings, so they don't need \the to be written out.

I patched the file `pgfutil-context.def` according to bug report #742 and commit 47f8725 before reporting this problem.

With TeXLive 2019 (ConTeXt 20190321 MKIV) and pgf 3.1.4b, the minimal working example

[code]

produces (see

[2019-12-02 19:06] hmenke commented on #797
That is a bug in ConTeXt.  It's fixed in beta (I think) but not in TeX Live 2019.  To work around it, add this to your document:
[code]
See also:
- https://tex.stackexchange.com/questions/492097/cannot-remember-picture-with-tikz-in-context
- https://mailman.ntg.nl/pipermail/dev-context/2019/003602.html

[2019-12-02 19:08] #797 closed, assigned to nobody

[2019-12-02 19:45] hmenke commented on #794
In general I am happy to accept changes.  Pretty much all the pull requests so far were accepted in one way or another.

[2019-12-02 20:23] PhelypeOleinik opened #798 "\pgfmathparse breaks with uppercase letter O"
**Brief outline of the bug**

(from [here](https://tex.stackexchange.com/q/518980/134574)) `\pgfmathparse` breaks with an uppercase letter `O`, I believe, because of a missing `O` here:

https://github.com/pgf-tikz/pgf/blob/633e4b36fc3ce6a8783ff52eafec3d22994e7208/tex/generic/pgf/math/pgfmathparser.code.tex#L241

**Minimal working example**

[code]

[2019-12-02 21:50] hmenke commented on #798
Oh, that is embarrassing.

[2019-12-02 21:58] #798 closed, assigned to nobody

[2019-12-02 22:49] PhelypeOleinik commented on #798
What I find most amusing is that this seems to be the first time in 11 years (according to [this](https://github.com/pgf-tikz/pgf/blame/633e4b36fc3ce6a8783ff52eafec3d22994e7208/tex/generic/pgf/math/pgfmathparser.code.tex#L241)) that someone tries to use an `O` in `\pgfmathparse`!

[2019-12-03 07:33] hmenke commented on #730
I've been thinking about this for a while, but there is no obvious solution.  Of course, I could just reset the transformation, get the anchor and restore the transformation, but that would wreak havoc with scaled or slanted nodes.  I'm de-milestoning this for now.

[2019-12-03 07:34] hmenke commented on #741
I had a look at the driver and it seems that the remaining `\pdf` primitives are in legacy branches to work with older versions of the engine.  I'm therefore closing this for now but it might be reopened if we run into trouble with backend primitives in ConTeXt.

[2019-12-03 07:34] #741 closed, assigned to nobody

[2019-12-04 19:40] nolyn opened #799 "Can not use addition in foreach header"
I like defining the step size I use in foreach before I use it the first time. I then basically add my step size in the foreach header in order to make it work correcty. See the example below. This used to work until recently.
I'm using arch linux. I suspect this broke in the update from texlive-core-2019.50917-1-any.pkg.tar.xz
 to texlive-core-2019.52579-1-any.pkg.tar.xz, which I did recently.
Le

[2019-12-04 20:24] hmenke commented on #799
This “feature” was rather buggy and now requires explicit activation, see #506 and https://github.com/pgf-tikz/pgf/commit/d7770565
[code]
BTW, this is documented, so reading the manual would have helped.
![test](https://user-images.githubusercontent.com/1903556/70178322-ef65e680-1740-11ea-95a7-07296fdf39cb.png)

[2019-12-04 20:24] #799 closed, assigned to nobody

[2019-12-05 01:43] ghost opened #801 "Inconvenience/bug when adding a matrix node to a path."
If one wants to use a matrix node inside (with inside being specified below) a path, one currently has to use an `ampersand replacement`.

Probably it is easier to understand what that means from the MWE:

**Minimal working example (MWE)**
[code]

As one can verify by uncommenting the line `\draw (0,-2) --  node[pos=0.2,above,matrix of nodes] {1 & 2\\}(5,-2);` there is a small issue. A workaround

[2019-12-05 01:49] hmenke commented on #801
That is problematic and I don't think there is an easy fix.  Nodes on a path are collected into a macro and placed once the path is finished, so tokenization is inevitable.  Of course I could just `\scantokens` the collected label text, which comes with all the horrible problems... It's maybe worth trying it out.  I'll have a look.

[2019-12-05 02:56] ghost commented on #749
I confirm. And I did print out the manual (with wrong page numbers :()

[2019-12-05 03:06] ghost opened #802 "Illustrations in chapter "Animations" (26) extend beyond the printable region on the pages."
Version: 3.1.4b-108-g0ee48dc5

There is a margins problem in the whole Chapter 26, in particular in Sections 26.4 and 26.5. The illustrations extend beyond the standard (for the manual) page margin on 15mm, and on my printer even extend beyond the printable region (by 1-2 mm). This effect is particularly prominent on pages 411 and 412.

![image](https://user-images.githubusercontent.com/2077025/70

[2019-12-05 03:17] ghost commented on #801
I am not convinced that this is to be fixed. It is easy enough to work around this issue. Matrices are special in many regards (for instance, they cannot be rotated) so from my point of view a short remark in the manual would do.

[2019-12-05 03:22] hmenke commented on #802
Till says they are allowed to go into the margin by 2cm.
https://github.com/pgf-tikz/pgf/blob/0ee48dc560679e7afdb6accce81a364bfdd9c730/doc/generic/pgf/macros/pgfmanual-en-macros.tex#L1732
If you really want to waste thousands of pages of paper on printing out this manual, which changes constantly, then choose the setting “[shrink to printable region](https://helpx.adobe.com/acrobat/kb/scale-or-res

[2019-12-05 03:22] #802 closed, assigned to nobody

[2019-12-05 03:24] hmenke commented on #802
If you really want to have the margins shrunk, apply this patch and build the manual yourself.
[code]

[2019-12-05 03:49] ghost commented on #802
No, I don't understand this. The whole document is typeset with the 15mm margin. If the illustrations were allowed to "advance" by 15mm (that is tightly matching the page border), this I would understand. Not very beautiful, but saves space. But 2cm=20mm I don't understand. This is literally outside of the page.

UPD: Moreover, there is _a lot_ of blank space on those pages.

![image](https://user

[2019-12-05 05:15] ghost opened #803 "Wrong indentation in Chapter Syntax for Path Specifications"
Version: 3.1.4b-108-g0ee48dc5

Chapter 14, Syntax for Path Specification, keys are indented non-uniformly (indicated by the blue rectangle):

![image](https://user-images.githubusercontent.com/2077025/70206049-3237b680-1761-11ea-8d1d-9b5e7b642872.png)

[2019-12-05 06:31] #803 closed, assigned to nobody

[2019-12-05 06:35] hmenke commented on #801
I've followed your suggestion and document the existing behaviour.

[2019-12-05 06:35] #801 closed, assigned to nobody

[2019-12-05 09:29] nolyn commented on #799
Thanks! I did check the manual, but gave up after the first dozen examples of foreach did nothing like I wanted.

[2019-12-06 00:52] hmenke commented on #734
You mean in each and every of the thousands of invocations of `\pgfmathfloatdivide@` check if the operands are 12 and 40 and then return 0.3?  That sounds horribly inefficient.

[2019-12-06 05:13] Mo-Gul commented on #734
Is it a *guess* or a *statement* that "this" is "horribly inefficient"?
I guess there isn't a performance test yet, right? So if you would provide a patch (here or via email) I would be happy to test compilation times for the `codeexample`s with and without the patch using the [parallel build script](https://github.com/pgf-tikz/pgf/issues/640#issuecomment-511116534).

Just to be sure: One really w

[2019-12-06 08:41] hmenke commented on #734
Well yes, of course there would have to be a check for the operand being 12 and 40 because not every division amounts to 0.3, right?  Since it is an extra branch with two comparisons it will necessarily be slower than anything without this branch.  Also I presume that 12 and 40 will not be the only exceptions, so we'd end up with a huge table of exceptions, massively slowing down the code.

[2019-12-06 08:45] josephwright commented on #734
I'm with @hmenke here: if you _need_ a real FPU, use the LaTeX3 one, as it's designed from the ground up to handle this sort of thing (at the cost that it is slower than the `pgf` one).

[2019-12-06 09:49] keinstein opened #804 "More intuitive interaction with the translator package"
**Move/Add the definition of `\pgfutil@translate` to \begin{document}**

Playing around with the `calendar` tikz library in a LaTeX document I had some problems to get the translations to work.
Actually I have loaded the packages in the following order:
[code]

Even though I loaded the translator package before the calendar library the translations of months and days names did not work. Intutively

[2019-12-07 20:53] Mo-Gul commented on #734
You are the experts, so I trust your opinion. So you are welcome to close this issue.

But could you state an example here (or at one of the TeX.SX questions) on how to *use* the `l3fp` package to solve/circumvent this issue!? Many thanks in advance!

[2019-12-08 04:35] hmenke commented on #804
What's the problem with loading `translator` before `tikz`?  Does it not work?

[2019-12-10 03:02] #734 closed, assigned to nobody

[2019-12-12 15:34] QJLc opened #805 "On page 308"
**version : 3.1.4b**

On page 308, the  item

*/tikz/graphs/placement/element count*

could be

*/tikz/graphs/placement/chain count*

a writing error.

[2019-12-12 15:43] QJLc opened #806 "On page 299"
**version 3.1.4b**

On page 299, under the item

*/tikz/graphs/grow up*

"Sets the chain shift to (*distance*,0)",  could be "Sets the chain shift to (0,*distance*)", I have find the definition of  */tikz/graphs/grow up*:
[code]

[2019-12-12 20:25] #806 closed, assigned to nobody

[2019-12-12 20:25] #805 closed, assigned to nobody

[2019-12-13 02:56] #769 closed, assigned to nobody

[2019-12-13 02:58] hmenke commented on #749
I have rolled out the new build system.  Can you please check that page numbers are resolved correctly? https://pgf-tikz.github.io/pgf/pgfmanual.pdf

[2019-12-13 03:12] 3geek14 commented on #749
I'm not going to pretend that I checked every page number, but I checked a couple, and they were all correct.  Thanks!

[2019-12-13 03:12] #749 closed, assigned to nobody

[2019-12-15 05:02] hmenke commented on #758
This is actually harder than I had anticipated, because the code of the externalization library is mostly unreadable gibberish.

[2019-12-15 09:00] hmenke commented on #669
@polgab You opened https://github.com/pgf-tikz/pgf/issues/305 long time ago and I merged your patch, but this led to the present issue.  I'm tempted to revert back to the old behaviour.

[2019-12-15 22:00] #669 closed, assigned to nobody

[2019-12-15 23:11] hmenke commented on #804
I have documented the required loading order in the manual.

[2019-12-15 23:12] #804 closed, assigned to nobody

[2019-12-15 23:27] hmenke commented on #793
Do you agree with this new formulation?
[code]

[2019-12-16 06:56] polgab commented on #305
Here my new test file (with pgf-tikz#669 example) with .txt extension as github don't support .tex attached file!
[pgfkeys-tests.txt](https://github.com/pgf-tikz/pgf/files/3966451/pgfkeys-tests.txt)

Can you reopen this issue?

Thanks.

[2019-12-16 07:16] hmenke commented on #305
Do you also have actual use-cases?  Most of the stuff that you sent looks very contrived.

[2019-12-16 07:41] projekter commented on #793
Two comments:
- If the `center` anchor does not exist, `\pgfpointshapeborder` will fail with an error. `\declareshape` only defines one default anchor, namely `text`. It also by default sets up `\anchorborder` to call the `center` anchor, but even if this behavior is overwritten, the `\pgfpointshapeborder` macro still calls the `center` anchor.
- While now it is clear that the incoming coordinate

[2019-12-16 07:47] hmenke commented on #793
Do you want to write an appropriate paragraph?  The source file is
https://github.com/pgf-tikz/pgf/blob/master/doc/generic/pgf/text-en/pgfmanual-en-base-nodes.tex
around line 1100.  When you open the file in your browser, there is a little pencil in the top right corner.  Clicking it will allow you to edit the file and when you save the changes, the repo will be automatically forked, the changes c

[2019-12-16 21:37] #793 closed, assigned to nobody

[2019-12-17 04:33] hmenke commented on #698
I believe this was fixed in https://github.com/pgf-tikz/pgf/pull/746

[2019-12-17 04:33] #698 closed, assigned to Mo-Gul

[2019-12-17 07:37] polgab commented on #305
You are right!
This particular issue seems fixed so you can close it.
I'm sure there are still bugs or limits that need to be fixed or, at a minimum, documented. I will look for good use-cases and then I will submit a new issue.

[2019-12-17 07:43] hmenke commented on #305
Open issues don't look nice on the bug tracker but they don't hurt.  I'll leave this open so we don't forget about it.

[2019-12-17 19:29] keinstein commented on #804
Sorry, the source code example above from `tex/generic/pgf/utilities/pgfcalendar.code.tex` does not suggest that this is the *right* solution. There is no call to `\translate` in that file. So I conclude that the original author considered the my loading order to be correct.

[2019-12-17 19:31] keinstein commented on #804
Sorry I didn't get the notification for your last question.
BTW. The original author probably intented the 3rd solution from my List.

[2019-12-19 04:31] ghost opened #808 "Documentation of the /.is choice key"
Version: 3.1.4

I think that the documentation of the `/.is choice` key is unfortunate. I think the first three `/.style` keys need to go to `/.code`. That is, on p. 974 the code

[code]

should go to

[code]

[2019-12-20 06:52] Turgon-Aran-Gondolin commented on #758
What about scan the current (or designated) folder for md5 file with the same md5 sum before building, if it finds a match, it can use the figure with the same name of the md5 file, if not, it switches to building process? Renaming the figure by md5 sum could work but I think since there're already `.md5` files, why not make use of them? And the figure name won't be too long to quote inside the te

[2019-12-20 19:30] ghost commented on #335
There is a related issue which, according to what I find, does not get fixed by this patch. One needs to add the node name before `node contents=...`. To see what that means, consider

[code]

I added your patch sandwiched between `\makeatletter` and `\makeatother` to the preamble, but it did not fix this issue. (I am not saying it should, all I am saying is that I tried if the patch happens to fi

[2019-12-20 19:53] hmenke commented on #335
What patch? I don't have a patch for this issue. The code above is just the existing implementation, so that I don't forget where it is.

[2019-12-20 20:14] ghost commented on #335
All I want to say is that there is the related issue.

[2019-12-21 00:25] hmenke commented on #335
What related issue?  You just repeated the original issue.

[2019-12-21 01:23] ghost commented on #335
@hmenke  No, not really. Please read the original issue and my comment. It might well be that they are *related* but mine is about naming of nodes. So in my comment dropping `(y)` to get
`\path (1,0) node [node contents=y] ;` removes the error. Neither the original issue, nor any of your statements mention any of this, do they?

[2019-12-21 01:38] hmenke commented on #335
It's the same issue.

[2019-12-21 01:49] ghost commented on #335
@hmenke  I do not see that, sorry. At least the symptoms are not the same, but yes at *some* level these things are related, which is why I commented here rather than adding a new issue. Your description above "The problem is that if node is encountered as part of a path, TikZ first scans the rest of the path before processing the node options." does not really explain why using the `node contents

[2019-12-21 09:23] ulilaube opened #809 "pgf update breaks tikz-3dplot?"
Hi!
This morning I got an update from CTAN of the package `pgf`.

`[ 5/12, 00:03/00:11] update: pgf [11029k] (51817 -> 53187) ... done`

`tlmgr info pgf` and `\pgfversion` still report the version to be 3.1.5.
I am running the following MWE through `lualatex` 1.10.0 from TeX Live 2019 on my Linux box.

Yesterday I was working on a document containing drawings that uses the package `tikz-3dplot`. A

[2019-12-21 09:42] hmenke commented on #809
888f902c611c870523b3a9442b48001f1e160f69 fix for #785

[2019-12-21 09:44] hmenke commented on #809
Hotfix is on its way.  Temporary workaround:
[code]

[2019-12-21 09:47] hmenke commented on #785
This broke `tikz-3dplot`.  I marked it as wont-fix because I plan to tackle this issue in the future with a more complete `reflection` library.

[2019-12-21 09:48] #809 closed, assigned to nobody

[2019-12-21 11:47] joulev opened #810 "Bug in how \coordinate handles coordinate options"
### Brief outline of the bug

`\path coordinate` and `\coordinate` handles coordinate options differently in 3.1.5, and the latter is handling incorrectly.

---

### Minimal working example (MWE)

[code]

![image](https://user-images.githubusercontent.com/44609036/71307486-bbb5dc80-2421-11ea-825e-3ec74b3437c3.png)

In the example, `(a)` and `(b)` are both at `(1,0)`. But in reality `(a)` is at `(0

[2019-12-21 11:53] joulev commented on #810
Never mind, this is basically a duplicate of #809.

[2019-12-21 11:53] #810 closed, assigned to nobody

[2019-12-21 16:57] projekter opened #811 "Label/pin position cannot be changed by node options"
The `label` (or `pin`) option works internally by using `append after command`, which is executed one level of grouping outside of the `node` itself. Consequently, any option set locally for the node is no longer present in the label. Though this is not documented explicitly, I think it is the intended behavior - at least I understand "it causes _another_ node to be added to the path after the cur

[2019-12-24 10:50] ilayn commented on #678
I enjoy the manual's warning about this instead of changing the behavior

necessary if the FPU is used inside of a TeX group – it will be deactivated afterwards anyway.
It does not hurt to call `fpu=true` or `fpu=false` multiple times.

I think a better warning about `fpu` not being a drop-in replacement math engine for the regular usage (which would have been the default if it was so) is a better

[2020-01-06 07:06] ghost opened #813 "looseness does not get parsed"
**Brief outline of the proposed feature**

The `looseness` does not get parsed. Please see the example below, which also contains a suggestion of how one may change this behavior.

**Usage example**

[code]

[2020-01-06 07:09] hmenke commented on #813
I'd say this is a bug.  I'll check whether the fix can be that easy but I guess it is.

[2020-01-06 07:18] hmenke commented on #813
I've queued the fix on my development branch.  It will be merged into mainline in a while.  I'm just waiting out regressions in the recent release.

[2020-01-07 10:33] Turgon-Aran-Gondolin commented on #759
After updated to 3.15a, there's a new problem. If there're multiple figures in one math environment, the first one will get evaluated every single pass despite it remains unchanged.

MWE:
[code]

[2020-01-07 13:02] Turgon-Aran-Gondolin commented on #759
Also all figures inside one math environment got merged into the first figure file (one figure per page). And all except the first figure files are still generated normally.

[2020-01-07 20:39] hmenke commented on #759
Okay, it looks like this has become unusable.  I will revert the fix and publish a new release.

[2020-01-08 04:51] ghost opened #815 "Fit does not always capture the full shape"
The `fit` library establishes the geometry of the fitting node by looking at the `west`, `east`, `north` and `south` anchors only. This yields the appropriate result in most cases but not in all. An explicit example is the `trapezium` shape, see the MWE below.

However, I do not necessarily think that one should try to fix this (how?).  Yet, it might be worthwhile to mention this in the manual. Wa

[2020-01-08 05:23] hmenke commented on #815
It's not a bad idea to think about a possible fix.  What comes to my mind immediately would be to teach every node shape about its convex hull and use that in the fit, if it is available. Otherwise fall back to `east`, `west`, etc.

[2020-01-08 06:04] ghost commented on #815
@hmenke  Yes, that would work, of course. It would also mean that one adds all the explanations to the discussion of `\pgfdeclareshape`.  And then there of course already several shapes on the market. It might mean that the maintainers of circuitikz will have many things to do.

[2020-01-08 08:16] hmenke opened #816 "CTAN issues"
**Brief outline of the bug**

When submitting the hotfix 3.1.5b to CTAN a couple of issues were detected.

**Issues**

(copied from the CTAN email)

[2020-01-08 23:26] jmwilson opened #817 "4-segment Bezier circle inaccuracy"
PGF uses a 4-segment approximation to draw circles. It's possible for this to show inaccuracies visible in publication at typical page-size dimensions when small and large radius circles are mixed and expected to intersect precisely. Suggestion: upgrade the circle & ellipse code to use an 8-segment approximation.

**Minimal working example (MWE)**

[code]

These circles and arcs should intersect a

[2020-01-08 23:41] hmenke commented on #817
I fear that this is not going to be possible because of the way intersections work.  They are enumerated by path time within path segments, so changing the number of segments could change the order of intersections which might break a lot of drawings.  To reasonably tackle this we'd first have to resolve #666.

[2020-01-09 23:00] muzimuzhi opened #818 "[doc] Wrong library annotations in graph, on cover page of Part IV"
Version: 3.1.5b

On page 415, the cover page of Part IV _Graph Drawing_, the library annotations of graph is wrong.

In documentation of 3.1.5b and the latest source code, library `arrows.meta` is loaded, and this leads to `! Package pgf Error: Unknown arrow tip kind 'spaced stealth''.`. But `arrows.spaces` is actually needed.
https://github.com/pgf-tikz/pgf/blob/478d9d4b29154c52f52448399e46b0f0cd

[2020-01-09 23:10] muzimuzhi commented on #818
In commit https://github.com/pgf-tikz/pgf/commit/c29b79a0d3543fbe8309304a00e9bc9e23cde768, `arrows.spaced` was substituted by `arrows.meta`, which brings problem to the reported code example. There may exist other code examples having similar problem.

[2020-01-09 23:43] hmenke commented on #818
I have no idea where you got `spaced stealth'` from.  The version you are looking at must be inconsistent, because the commit you linked does not only replace `arrows.spaced` with `arrows.meta` but also replaces `spaced stealth'` with `Stealth[round,sep]`, so there is no inconsistency.

[2020-01-09 23:43] #818 closed, assigned to nobody

[2020-01-10 04:42] muzimuzhi commented on #818
I was careless. That `spaced stealth'` was from my previous local file. So sorry.

[2020-01-10 09:15] josephwright commented on #817
I've just checked using `l3draw` (using a more accurate FPU): I see the same slight inaccuracy.
[code]
(You'll need the fix in https://github.com/latex3/latex3/issues/660 to make this work).

So I think it is due to the use of a four-part approximation, not due to the inaccuracies in calculation. I might look to adjust `l3draw` to use more segments.

------

From @muzimuzhi: `\draw_color:n` is ren

[2020-01-10 09:20] josephwright commented on #666
I think the major challenge here, as for LaTeX itself, is getting tests written. I have the ones I've done for `l3draw`, which broadly cover the base layer of `pgf` (at least in as far as operations that don't need PDF resources). The API is almost identical: We could probably use most of those with some simple search-and-replace. Any use?

[2020-01-10 10:14] josephwright commented on #666
@hmenke Perhaps I should try making the change in `l3draw` to see if it actually works in enough cases? I've got the freedom to do that ...

[2020-01-10 11:35] hmenke commented on #817
It's just due to the fact that you  can't draw a perfect circle with Bézier curves.  Even with more segments it will not match.

BTW, MetaPost also only uses four segments.

[2020-01-10 18:44] KZiemian opened #819 "Should `stealth'` arrow tip should be replaced by `stealth` in "Tutorial: A Petri-Net for Hagen"?"
Version: 3.1.4b.

Chapter 3 "Tutorial: A Petri-Net for Hagen", pages 57, 59.

In styles definition arrow tip is given by command ">=stealth'". From what I understand this is command from deprecated `arrows` library and we should using `stealth` from `arrows.meta`.

If this is right and changes are needed I will create appropriate pull request.

[2020-01-10 19:48] KZiemian opened #820 "Add explicit information about loading `angles` library"
Version: 3.1.4b.

Section "18.2.1 The Quotes Syntax", pages 263-264.

Since to draw example in this section you need to load `angles` library, I suggest to state this clearly in the text. In another situation new user may think that is part of "build-in" TikZ and feel very confused when he will get an error.

Also, this is no obvious way to guess that the name of this library is `angles`, not `ang

[2020-01-10 19:58] KZiemian opened #821 "Code illustrating "/tikz/ever pic" is not related to pic mechanics."
Version: 3.1.4b.

Section "18.2 The Pic Syntax", pages 262.

Code that should illustrate usage of "/tikz/every pic" is
[code]
have no relation to pic and is probably copy from chapter on the nodes.

[2020-01-10 20:14] jmwilson commented on #817
Increasing the number of segments yields diminishing returns, though the 8-segment curve still looks like a perfect intersection at 64x magnification (worst case here is closer to r=1/9 and r=9), whereas the 4-segment curve is off by nearly a line width. The r=1/5 and r=5 combination places the angle subtended by the unit circle from the horizontal to the point of intersection very close to 22.5°,

[2020-01-10 21:27] hmenke commented on #819
Is it `stealth` or `stealth'`?  The former is a built-in tip whereas the latter is from `arrows` and should be replaced by `Stealth[round]` (I think, please double-check).

[2020-01-10 21:31] hmenke commented on #821
I'm pretty sure I fixed that one in 3.1.5, so please update your PGF and see if it's still there.  The current version is 3.1.5b.  You can also browse the latest manual online at https://pgf-tikz.github.io/pgf/pgfmanual.pdf

[2020-01-10 23:04] #821 closed, assigned to nobody

[2020-01-10 23:08] hmenke commented on #820
Already fixed by 66badb1184c81a7817663a432d6e08b5e5bc35bf
It's generally better to report bugs only against the latest version.

[2020-01-10 23:08] #820 closed, assigned to nobody

[2020-01-10 23:09] hmenke commented on #821
Already fixed in 6ccafffa00bdb8f55e4f696325b202d37d3f1f6b

[2020-01-11 00:29] hmenke commented on #819
Already fixed in c29b79a0d3543fbe8309304a00e9bc9e23cde768
I would really appreciate if you checked more carefully if the issue actually still existed, because this is just a waste of time.

[2020-01-11 00:29] #819 closed, assigned to nobody

[2020-01-11 13:31] ilayn commented on #817
Scaling up an approximation uniformly, is not possible regardless of segment number but of course it gets better. It is also known that the approximation error is worst at the plus/minus angle as you mentioned. Here is a precise calculation of those angles (see the plot) : http://spencermortensen.com/articles/bezier-circle/

However doubling the number of PDF objects for a minute improvement doesn

[2020-01-11 13:38] ilayn commented on #666
@josephwright what is the assertion syntax for the tests ?  Writing small TeX documents and running them one by one and error out if desired \neq actual?

[2020-01-12 01:50] hmenke commented on #666
@ilayn It's not as easy as just checking whether to code compiles.  You have to check whether the resulting image still looks the same.  For that you could diff the output of `\showlists` but that kind of bars you from any low-level changes that don't actually affect the visual representation of the picture (like just reordering instructions in the PDF).  That is not an easy problem, however, even

[2020-01-12 09:23] ilayn commented on #666
There are many options on that front including comparing instructions on the system layer. At some point you have to trust upstream mechanism which doesn't change very often. For image comparison you can do what matplotlib or any other plotting lib does, say, https://matplotlib.org/3.1.1/devel/testing.html#writing-an-image-comparison-test

But comparing at system layer seems pretty robust to me. A

[2020-01-12 15:32] ghost opened #823 "`visualize as smooth cycle` is documented but does not exist"
Version: 3.1.5

On p. 858 the key `visualize as smooth cycle` is advertised in the top paragraph of this site. As far as I can see this key does not exist. One may either drop this statement in the manual, or add this key

[code]

in `tikzlibrarydatavisualization.code.tex`. I'd slightly prefer changing the manual.

[2020-01-13 06:14] dcpurton opened #824 "Fading produces corrupt PDF"
My printer (person, not machine) is complaining that a file I've sent crashes his RIP. I'm not 100% sure, but I suspect the problem is due to a fading I have used, as it's the only unusual thing in the file. I can also produce a PDF containing only a simple fading that crashes Adobe Reader 9 under Linux when exporting to PostScript.

This MWE crashes Adobe Read 9 when exporting to PostScript when

[2020-01-13 08:14] hmenke commented on #824
Is it reproducible with older versions, i.e. is it a regression?

[2020-01-13 09:17] dcpurton commented on #824
I don't know. I am running 3.1.4b. I have to do some more testing on other types of transparency. I guess overleaf still has a pretty old version of `tikz`. I'll test on that. I can't easily install older versions on my machine.

[2020-01-13 10:54] dcpurton commented on #824
OK, this is not a regression. The following even simpler file also causes `acroread` v9 to segfault when outputting PostScript. This happens with v3.0.1a from Overleaf as well.

[code]

[2020-01-13 11:03] dcpurton commented on #824
It's definitely worth checking this more carefully than relying on the `acroread` behaviour though. It's not exactly a bug free piece of software… I just don't have anything else.

[2020-01-14 17:20] pablgonz commented on #824
@dcpurton I have checked the problem using Acrobat DC pro is present only with `(pdf|lua)latex`, with `xelatex` it works perfect. If you reconvert to `.ps`using `pdf2ps` and then switch back to `.pdf` using `ps2pdf` the problem disappears. Sending to print from other pdf viewers works ok using  `(pdf|lua)latex`.

[2020-01-16 06:02] #813 closed, assigned to nobody

[2020-01-16 10:30] letzfets commented on #758
@mukron: It rebuilds, because the automatic file names change, e.g. from `main-figure0` to `main-figure1`and vice versa if you switch the first two. Using `\tikzsetnextfilename{⟨file name⟩}` should avoid the rebuild. I did not test this.

[2020-01-19 20:44] #816 closed, assigned to nobody

[2020-01-23 21:19] joukewitteveen opened #825 "pgfpages: page numbers with the resize to layout"
The manual says:

However, this is rather minimal and I imagine that in some cases the page numbering can be made to work correctly. Consider the following example:
[code]
This puts Section on page 1, but lists it as starting on page 2 in the table of contents. In fact, any reference to a page number in a document that uses the `resize to` layout will be 1 too high.
A similar behavior is reported

[2020-01-24 02:10] dcpurton commented on #824
@pablgonz GhostScript doesn't handle transparency very well. It's slow and tends and rasterize very large sections of the page.

My printer accepted the document once I pre-flattened the fading, so this was definitely the problem.

The `/Shading` PDF objects are identical between `lualatex` and `xelatex`. So the difference is in how they are used.

[2020-01-24 02:44] pablgonz commented on #824
@dcpurton The truth is I've never had a problem with GS :)

I don't know if that's really true, the internal structure of the `.pdf` file created by `luatex` and `xelatex` differs a bit, at least that I can see by analyzing it with Adobe DC pro (win10) and with `pdf-parser` (Ubuntu 18).

[2020-01-26 02:14] hmenke commented on #817
I've thought about this and I am not going to change the default circle.  Too many drawings rely on this exact shape.  However, I can offer adding this as a library solution, something like `\usetikzlibary{bettercircles}` and make the number of segments a user-defined value, so that you can use 100 segments if you want.

[2020-01-26 02:22] hmenke commented on #824
Adobe Reader 9 segfaulting is not good measure, because it's unsupported, old, 32-bit only, and has remote code execution vulnerabilities, so should not be used under any circumstances anyway.

For easier PDF inspection you can add this at the start of your document:
[code]

[2020-01-26 14:46] msourada opened #826 "[Regression] Circle inslide axis environment throws ! Argument of \pgfmathfloatparse@@ has an extra }."
**Brief outline of the bug**

When trying to draw a circle inside axis environment, tex throws an
! Argument of \pgfmathfloatparse@@ has an extra }.
error. I have 3.1.5b installed.

The same code works without error with 3.1.4b.

**Minimal working example (MWE)**

[code]

[2020-01-26 18:15] Mo-Gul commented on #826
Is this the same as https://sourceforge.net/p/pgfplots/bugs/232/?

[2020-01-26 18:22] msourada commented on #826
Yes, that's it! Specifying the radius by [radius=5cm] indeed makes the error disappear. Sorry, I filled the bug at the wrong package.

[2020-01-26 18:22] #826 closed, assigned to nobody

[2020-01-28 23:28] letzfets commented on #371
Is there anything new on this issue?
I have a similar behaviour, where the following line ends up in the AUX file:
[code]
triggered by a `\cite{MyCitationLabel}` in the externalised tikzpicture.
If I turn of externalisation for this tikzpicture, bibtex does its job and xelatex puts in the citation as it should. But the `\def \dpthimport` prevents the desired processing.

[2020-01-28 23:32] hmenke commented on #371
It's unlikely that this will ever be fixed. @cfeuersaenger has more or less abandoned the project and I don't feel like maintaining `external`, because I don't think that it can solve the problem satisfactorily, is far too complex for what it does, and has rather “interesting” code quality.

[2020-01-29 08:51] letzfets commented on #371
I see, I see. Well that's a pity.
The actual code leaves spaces (one between `\def` and `\dpthimport`, one more between `\dpthimport` and `{` and another one between `\citation` and its argument). I believe that's part of the problem. I tried so far scripting my way out of it in the build script with some sed commands, but all of this gets overwritten when latex is executed. Hmmm. Any ideas to imp

[2020-02-01 23:12] Friedrich2 opened #828 "Missing entry to overlay-beamer-styles"
Version: 3.1.5b

In multiple tex.stackexchange.com questions like [this one](https://tex.stackexchange.com/questions/526581/how-to-stop-a-tikz-matrix-from-jumping-about-in-beamer), the library overlay-beamer-styles was an essential part of the problem solution, but this library is not documented in the manual.

Technical details may be found [here](https://tex.stackexchange.com/questions/174226/re

[2020-02-01 23:43] hmenke commented on #828
`overlay-beamer-styles` is not part of PGF/TikZ.

[2020-02-01 23:43] #828 closed, assigned to nobody

[2020-02-02 21:28] Friedrich2 commented on #828
I have to correct myself: The `beamer-overlay-styles` tikz library seems to be being provided by the package [`aobs-tikz`](https://www.ctan.org/pkg/aobs-tikz).
Neverthelesss, I was not able to find documentation for **simple overlay commands** like `\draw<2-> (A) to (B)` in the manual (by searching for `overlay` or `<2->` in the manual). Should it be documented in the PGF / TikZ manual? Should I o

[2020-02-02 21:45] hmenke commented on #828
TikZ is kind of overlay-aware, but not really.  Essentially it just stuffs commands into beamer's `\alt`, when the overlay specification is detected.
https://github.com/pgf-tikz/pgf/blob/0c14c1b0e19b704dc9f09027359fc6b7d1a64d95/tex/generic/pgf/frontendlayer/tikz/tikz.code.tex#L2088-L2092
This is also the reason for all of the known problems that TikZ drawings move around on the slide because the b

[2020-02-03 16:43] letzfets opened #829 "including of dependencies in makefile from library external"
The external library in mode "list and make" or "list" creates a makefile. This makefile contains in line 9:
[code]
When running for the first time, it creates the following error:
<main.makefile:9: main-figure0.dep: No such file or directory>
Replacing this line with
[code]
would fix it. The minus sign in front tells make, not to complain if the file does not exist, but include it, if it is there

[2020-02-04 13:32] joulev opened #830 "{command} environment does not work with starred command."
**Brief outline of the bug**

I am using the [`pgfmanual` package](https://github.com/pgf-tikz/pgf/tree/master/tex/latex/pgf/doc) and [pgfmanual-en-macros.tex](https://github.com/pgf-tikz/pgf/blob/master/doc/generic/pgf/macros/pgfmanual-en-macros.tex) to get a nice documentation style and automatic hyperlinks in one of my documents. While it is working very fine overall, the `{command}` environmen

[2020-02-05 04:14] joulev commented on #830
Ah, starred commands don't exist in plain TeX. This can reproduce the issue in a non-pgfmanual way:

[code]

I think there should be a switch to check whether it is LaTeX or plain TeX. If it is in LaTeX something other than `\string` should be used, as the command will never accept starred variants.

[2020-02-05 04:28] hmenke commented on #830
Exactly, in fact, starred commands also don't exist in LaTeX.  The star is actually an argument rather than part of the name.

[2020-02-05 13:32] joulev commented on #830
Do you have any idea of how to fix this? Otherwise starred commands can't be documented this way. Of course, I can rewrite my macros to get rid of starred commands, but obviously this is not a good solution.

[2020-02-05 20:50] hmenke commented on #830
What do you mean by “fixed”?  You have to realize that `\hello*` is not the same as `\csname hello*\endcsname`.

[2020-02-05 21:14] hmenke commented on #794
@astoff How are you coming along with this?  Have you made any progress?

[2020-02-06 01:23] thinbold opened #831 "missing bracket in arrows doc"
Version: 3.1.5b

On page 211, a right bracket is missing in this line

It corresponds to this line in the doc

https://github.com/pgf-tikz/pgf/blob/master/doc/generic/pgf/text-en/pgfmanual-en-tikz-arrows.tex#L1675

[2020-02-06 07:17] joulev commented on #830
Of course. However, imagine I have to document `\newcommand*`. It is *different* from `\newcommand`, so I can't put it to the same `{command}` environment, right? So, what to do?

Probably `fix' is not the right word here, but I am not good enough at English to find a better word :)

[2020-02-06 07:34] davidcarlisle commented on #830
@joulev  as Henri already said `*` here is essentially an optional argument to `\newcomand` the use can be `\newcommand*`  or `\newcommand    *` the `*`  isn't part of the name, it is essentially a syntactic variant for `\newcommand [true]` that is, an option with just a boolean toggle star-or-not-star.  So it is quite natural to document a single `\newcommand` and document the `*` behaviour there

[2020-02-06 09:37] hmenke commented on #831
I've committed a partial fix which at least brings back the bracket, but unfortunately it is not in italics.

[2020-02-06 09:53] #829 closed, assigned to nobody

[2020-02-06 12:35] joulev commented on #830
@davidcarlisle Thanks for the suggestion. However the circumstance may be more complicated, like

[code]

`\foo` and `\foo*` have different syntaxes, which make it impossible to document them in the same `{command}` environment. Probably this is not how `\@ifstar` and starred commands are intended to be used, but it is still possible that someone uses something like this.

[2020-02-07 08:07] ghost opened #832 "Outdated circle syntax in manual"
Version: 3.1.5b

There are still many examples in the manual in which the circle construction is used in the old-fashioned way, i.e. with

`circle(<radius>)`

as opposed to

`circle[radius=<radius>]
`

In the range up to p. 150 there are 20 such usage examples on pp. 38, 39, 40, 44, 64, 66, 68, 69, 137, 145, 148, 149.

In the plain Ti*k*Z world this is not a big problem. The real problem is that t

[2020-02-07 09:09] hmenke commented on #832
I had email communication with @cfeuersaenger recently.  As I understood it a fix is on the way.

[2020-02-07 09:13] hmenke commented on #830
I think this is pointless and I don't have any use for this in PGF/Ti*k*Z.  If you want this feature you (or someone else) will have to implement this.  To this end I'm also applying the “help wanted” tag.

[2020-02-07 09:15] hmenke commented on #760
I have reopened this issue and applied the “help wanted” tag to show that if you want this feature, you (or someone else) will have to implement this.

[2020-02-07 10:32] hmenke commented on #832
Just ping me if it's not fixed in a week, then I'll work around pgfplots's broken usage of TikZ internals on my side. You can expect pgfplots to break more often as TikZ progresses.

[2020-02-11 05:37] hmenke commented on #832
I've submitted the following patch to the pgfplots maintainers.
[code]

[2020-02-11 05:38] hmenke commented on #826
I've submitted the following patch to the pgfplots maintainers.
[code]

[2020-02-12 01:36] ghost commented on #832
@hmenke  Is this the complete patch? It does not seem to provide the complete (re)definition of `\pgfplots@path@@tikz@do@ellipse`.

[2020-02-12 01:55] hmenke commented on #832
The patch only contains lines that actually changed.  You have to apply the patch to your copy of the `pgfplots` sources, see https://git-scm.com/docs/git-apply

[2020-02-12 02:09] ghost commented on #832
@hmenke Thanks!

[2020-02-13 18:37] letzfets opened #833 "external + "path fading" + xelatex -> broken"
see here: https://tex.stackexchange.com/questions/326756/tikz-externalize-breaks-path-fading
The combination of the 3 above breaks the path fading command for all fadings, that are user defined, e.g. through `\tikzfading`

[2020-02-13 18:40] letzfets commented on #833
As a workaround the `\shade[]` command works. Might do the job, as long as the fadings are not complicated.

[2020-02-13 19:22] hmenke commented on #833
No MWE.  What's wrong with using the issue template?

[2020-02-13 19:59] astoff commented on #794
The command list I generated a while ago (with some manual work) is still good enough. I might work on this issue when I need to update my data files.

[2020-02-13 23:32] letzfets commented on #833
Here we go:

Contents of file `main.tex`:
[code]

I compiled with both `xelatex -shell-escape main` and with `pdflatex -shell-escape main`. Result is the same: the two faded arrows are showing up in the file `figures/main-figure0.pdf`, but not in `main.pdf`.

When I comment the line `\tikzexternalize[prefix=figures/]`, everything is fine.

[2020-02-14 01:45] hmenke commented on #833
Can't reproduce.  Either your viewer is broken or this is a duplicate of #824.

[2020-02-14 09:09] letzfets commented on #833
I checked. #824 works fine on my machine. No problem.

As viewers, I've used
skim Version 1.5.6 (122) and
preview Version 11.0 (999.4)
both on my Mac - none of them work.

Other potentially relevant system information:
pgf 3.1.5b
pdfTeX 3.14159265-2.6-1.40.20 (TeX Live 2019)
XeTeX 3.14159265-2.6-0.999991 (TeX Live 2019)
macOS Catalina 10.15.3 (19D76)

I've also checked if it matters, wether I've g

[2020-02-14 09:21] letzfets commented on #833
I've viewed the main.pdf file now on my Android phone with Adobe Acrobat 20.0.1.11139.
Both arrows show up there wonderfully. So keep closed here. This indicates, that it is a viewer issue.

[2020-02-14 10:49] hmenke commented on #833
I think this is a duplicate of #824.  Unfortunately, it's really unclear what is wrong with the fadings in XeTeX at the PDF level.

[2020-02-14 10:50] hmenke commented on #824
@dcpurton Have a look at #833.  Seems to be the same problem, but there only under macOS.

[2020-02-14 14:12] dcpurton commented on #824
@hmenke , Thanks for the tip on making `dvipdfmx` produce an uncompressed PDF. I didn't know this, I've always just use `pdftk` for `xelatex`! (But I was checking things with an uncompressed PDF with `lualatex` as you have above.)

@pablgonz I said that the  `/Shading` object was the same, but looking more carefully I did miss one difference.

There are 8 `/Shading` objects produced by a similar M

[2020-02-14 20:06] letzfets commented on #824
Not sure if they are actually the same. @dcpurton 's MWE works fine on my machine and with both of my viewers, but #833 does show at all.
But I nailed it down to: it's not pgf and it's not xelatex or pdflatex, because I viewed the file, that was generated on my Mac with my Android phone. Everything was fine there. Note same file, no processing. On Android I had an Acrobat Reader.
Is this coming ba

[2020-02-15 02:30] dcpurton commented on #824
@letzfets , it's tempting to blame viewers. But when it gets to the point of a commercial print job being rejected by a printer because it crashes their RIP (which was my experience), it doesn't matter.

In all likelyhood the printer is using an Adobe RIP, and Adobe, not Apple, gets to decide what is valid PDF. For printing I usually prefer to avoid transparency altogether as it always leaves a bi

[2020-02-15 05:19] thinbold opened #834 "The width of a (concave-concave) rounded rectangle is weird"
I saw [this SX question](https://tex.stackexchange.com/questions/527134/setting-rounded-rectangle-minmum-height-affects-width). The logic of calculating the width of `rounded rectangle` seems broken.

When both arc are concave, these lines compute the necessary offset/compensation/extra width.
https://github.com/pgf-tikz/pgf/blob/15c943b7a5774c58e45390acdddd36e9f4260607/tex/generic/pgf/libraries/s

[2020-02-17 03:45] hmenke commented on #824
@dcpurton There was a typo in `\pgfsys@usefading` in both the LuaTeX and the pdfTeX driver. Could you try this patch? (it's not on `master` yet)
[code]

[2020-02-17 04:08] hmenke commented on #833
Discussion on #824 revealed that this might not be the same problem.  I'm happy to fix this but I need a reliable route through which I can reproduce this.  Since I am on GNU/Linux x86_64 it can't involve Adobe Reader (or anything else that doesn't run on Linux).

[2020-02-17 04:21] dcpurton commented on #824
@hmenke Good catch!

But I still see the Segfault when outputting to PostScript from `acroread` though. :(.

(Assuming I tested right, but I'm pretty sure I did. And assuming that the `acroread` Segfault is a reliable marker for the bug, which might not be the case.)

[2020-02-17 04:33] hmenke commented on #832
This patch has landed in `pgfplots` officially now.
https://sourceforge.net/p/pgfplots/code/ci/b6b6111dec2c4e198837e45960dbea38e79045c1/
I can't tell when the new release will be published but it will be there eventually.  I'm closing this now.

[2020-02-17 04:33] #832 closed, assigned to nobody

[2020-02-17 06:49] Mo-Gul commented on #833
For the record: Using Windows/MiKTeX, compiling with pdflatex and lualatex the above MWE works perfectly fine, both showing in SumatraPDF and Acrobat Reader.

[2020-02-17 13:57] letzfets commented on #833
Skim and Preview are not Adobe either. ;-)
Hmmm, How can I help?!? What viewer are you using? I might be able to install this one on my Mac and we'll take it from there?!?

[2020-02-17 14:02] letzfets commented on #824
Valid point @dcpurton. Well, as far as I can google, there is a standard for pdf: [ISO 32000-2](https://www.iso.org/standard/63534.html). I didn't buy it but somehow I should have access to it through my job. So theoretically I could find out, what it says about fading, but then I couldn't post it here, because the iso.org wants money for this information. :(

[2020-02-18 10:00] dcpurton commented on #824
@letzfets, the PDF spec is available online (this essentially became the ISO standard): https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdf_reference_archive/pdf_reference_1-7.pdf

[2020-02-24 21:10] hmenke commented on #833
Skim and Preview don't run on GNU/Linux.  I'm mostly using Evince and Zathura, but anything poppler- or mupdf-based should do.  The pdf.js viewer which comes with Firefox is also a possibility.

[2020-02-29 05:22] aminophen commented on #692
In [r53973](https://www.tug.org/svn/texlive?view=revision&revision=53973), dvipdfmx restored the previous behavior due to

* https://tug.org/pipermail/tex-live/2020-February/044855.html

so the fake-bold problem reappeared.

[2020-03-02 23:10] PeterGrill opened #837 "bend right=<angle> ignores non-integer part of angle"
The MWE below uses a noninteger value `bend_right=9.5` and results in the following two message in the log file:

    Missing character: There is no . in font nullfont!
    Missing character: There is no 5 in font nullfont!

These two messages go away if an integer value is used.

This seems to be an issue in `tikzlibrarytopaths.code.tex` as per [Are non-integer values of bend right=<angle> allowe

[2020-03-03 09:39] hmenke commented on #837
For some unknown reason there is also a striking asymmetry between the code paths for `bend left` and `bend right`.
https://github.com/pgf-tikz/pgf/blob/b5022401632df0de78c114c41707e56f68e43447/tex/generic/pgf/frontendlayer/tikz/libraries/tikzlibrarytopaths.code.tex#L30-L58

[2020-03-03 09:40] lesshaste commented on #832
Why does this have the tag closed-wont-fix? It seems it  has been fixed.

[2020-03-03 17:12] Mo-Gul commented on #832
@lesshaste, yes, but it has been fixed PGFPlots and not in TikZ. That's why it is correct to state *here* that it wasn't fixed and won't be fixed.

[2020-03-03 20:30] ghost commented on #837
@hmenke It is well known that the world is not left-right symmetric. ;-)

[2020-03-03 22:43] #837 closed, assigned to nobody

[2020-03-04 21:56] ilayn commented on #824
Make your shading 50bp instead of 100bp

[2020-03-06 08:24] letzfets commented on #833
I was trying out the comment from @ilayn on #824 today (change from 50 to 100), but it had no effect on this one.
I thought it might be helpful for further debugging, to provide you with the pdf's, where
- main-figure0.pdf is the one in the subfolder externalised,
- main.pdf is the main document with externalisation in subfolder figures
- main_no_subfolder.pdf is the main document, where I comment

[2020-03-06 08:42] hmenke commented on #833
Since I don't know what I'm looking for and I have no way of reproducing this, I don't have any use for these PDFs.
Also including a drawing is not the same as including a PDF with that drawing.  There is a lot more stuff going on, like embedding of xref tables, etc.

[2020-03-14 06:36] QJLc opened #838 "A bug in bbox library"
**MWE**

[code]
this gets a dimension too large error.

I think, the line 36 in file **pgflibrarybbox.code.tex**  should be added with a pair of parenthesises:
``\pgfmathparse{abs(2*((#1)-2*(#3)+(#5)))}``
the same modification is needed in line 41, 68, 73.

After these modifications, the **MWE** goes well.

[2020-03-14 07:29] hmenke commented on #838
@tallmarmot

[2020-03-14 12:25] muzimuzhi opened #839 "[doc] Some examples in Part IV lack codeexample info"
Version: 3.1.5b

 * All examples in Sec. 28.3 _Padding and Node Distances_, pp. 422--425.
Corresponding source file: [`Distances.lua`](https://github.com/pgf-tikz/pgf/blob/master/tex/generic/pgf/graphdrawing/lua/pgf/gd/control/Distances.lua)
 * Sec. 28.4--28.7.3, pp. 426--436, 439--440
 * Sec. 28.8, pp. 442--443
 * Sec. 28.11, pp. 448--449
 * Sec. 30.1.1--30.2, pp. 460--464
 * Sec. 30.3, pp. 466--

[2020-03-14 16:46] ghost commented on #838
@QJLc  Thanks! Very good catch! I was planning to add an `fpu` option, see https://tex.stackexchange.com/a/501154. Nowadays many basic libraries (such as `intersections`) use `fpu` by default so I am wondering if this should be the only version. @hmenke What is your opinion about this? (I do not think that the performance loss will be substantial.)

[2020-03-14 23:51] hmenke commented on #838
Since `bbox` is a library, enabling `fpu` will not affect the baseline performance of TikZ, so I'm fine with that.

[2020-03-15 05:50] Mo-Gul commented on #839
@hmenke, I would be happy to add the needed stuff, but currently I don't have a clue *how* (see also https://github.com/pgf-tikz/pgf/issues/640#issuecomment-511176605). If you would provide *one* example how to add options to `example` environments in Lua I'll hopefully be able to do the rest.

[2020-03-15 20:57] ghost commented on #838
@QJLc  I am very sorry, I cannot follow your suggestions. That is, when I apply the changes as you suggest, the error remains. Note also that there is yet another error which arises when `\pgf@path@lastx-#5-3*#1+3*#3` is too small. This one I understand, and it is a conceptual error, which I can fix. In this case there is only one solution. Can you please explain what you precisely did, and also w

[2020-03-18 20:50] hmenke commented on #837
BTW, here is how you backport the fix.
[code]

[2020-03-21 23:24] kjgoodrick opened #841 "External library does not completely turn off dash pattern"
When using the external library, for some reason dash patterns are not turned off completely. This is imperceptible under normal circumstances, but when uploading figures to Manuscript Central it reveals itself.

Consider the MWE below which draws a short dashed line and then a solid line and externalizes it. The generated pdf looks as expected:

<img src="https://user-images.githubusercontent.com

[2020-03-22 00:16] hmenke commented on #841
I can't reproduce this in any engine or any viewer, so IEEE is likely doing something nonstandard-confirming to the PDF before handing it back to you.

Which engine are you using?
[code]
![test](https://user-images.githubusercontent.com/1903556/77239384-0d4b4e80-6c3f-11ea-9afc-98cde137fa06.png)

[2020-03-22 01:19] hmenke commented on #841
Maybe related #833

[2020-03-22 01:20] hmenke commented on #833
@letzfets Could you have a look at #841 and see whether you can reproduce it?  I have a feeling that this is related.

[2020-03-22 02:58] kjgoodrick commented on #841
Yeah, the problem is only visible after uploading it to Manuscript Central and then downloading the PDF proof. The proof has line numbers, page numbers, and a header added. I wouldn't be surprised if they were doing something weird to add those, it's weird that it only happens with external mode though.

I am using pdfTeX, specifically Version 3.14159265-2.6-1.40.21 (MiKTeX 2.9.7300 64-bit).

If i

[2020-03-22 03:03] hmenke commented on #841
Sorry, but there is no way for me to support some obscure proprietary renderer that I don't have access to, so I'm closing this for now.

I will of course reopen this if you can come up with a reliable route through which I can reproduce it on GNU/Linux x86_64.

[2020-03-22 03:44] hmenke commented on #833
I have a hint here.  The XeTeX driver is the only one that falls back on `\includegraphics` for `\pgfimage` (which is used to include externalized pictures).
https://github.com/pgf-tikz/pgf/blob/357bc05926a057f7c1fcbc95877fc508723ac105/tex/generic/pgf/systemlayer/pgfsys-xetex.def#L31-L45

Here I have manually patched out the `\includegraphics` variant.  @letzfets Can you try with this please?
[cod

[2020-03-22 03:51] hmenke commented on #841
Maybe we can at least do some guesswork.  Could you please give this a try?  This will use LaTeX's `\includegraphics` to include the externalized image instead of PGF's `\pgfimage`.
[code]

[2020-03-22 20:12] kjgoodrick commented on #841
I completely understand the difficulty in figuring this one out and I think that it is probably more of a problem with manuscript central than with pgf. Unfortunately, manuscript central is not obscure; it's widely used by academic journals, which I believe is the primary target for most pgf users. It also appears that there is something tikz is doing that causes this, even if what tikz is doing i

[2020-03-22 20:59] hmenke commented on #841
What did you use to uncompress the PDFs?  I tried to uncompress the PDFs you posted before using `qpdf --stream-data=uncompress in.pdf out.pdf` but that did not uncompress the object streams leaving me with gibbering instead of TikZ pictures.

The `cm` instruction is not the dash pattern.  It's the transformation matrix.  The first four values are the matrix elements (in this case the identity, i.

[2020-03-22 21:47] kjgoodrick commented on #841
I used the command `qpdf --qdf --object-streams=disable in.pdf out.pdf`

Interesting, I'm surprised that that being different would change the dash pattern. I also just tried changing the color of the first line as well and that does get turned off, so it's just the dash pattern that stays with the second line.

[2020-03-22 22:12] hmenke commented on #841
Dash patterns in PDF are marked by `d`.  So a a simple dashed line would have, e.g. `[20] 0 d` for 20bp dashes with dash phase 0 (i.e. on off on off etc.).

[2020-03-22 22:13] hmenke commented on #841
I'm almost certain that the problem comes from the added `q` / `Q` bracket, but I have to find a way to confirm that.

[2020-03-22 22:59] kjgoodrick commented on #841
I see, I found the PDF32000 standard and it's been quite helpful! Are you talking about the

[code]

Right before the `endstream` that don't seem to have a matching `q`? I could try removing those two lines manually and see if that fixes it?

[2020-03-22 23:16] kjgoodrick commented on #841
Removing those lines did not work unfortunately.

Looking at the post manuscript central uncompressed files it looks like they add a `[]0 d` command to the non-external version after the first line, but not for the external one. Perhaps there's some preprocessing that they do to "base" file that they do not do to the external files? This would unfortunately mean there's nothing we can do to fix it

[2020-03-22 23:35] hmenke commented on #841
I analyzed the PDFs you sent earlier and found this:
`external_pre_mc.pdf`
[code]

`external_post_mc.pdf`
[code]
The commentary is of course mine.  First of all I note that the PDF stream post MC has very little to do with the stream pre MC, i.e. they completely dissect the PDF and reassemble it, but they break the stack balancing.  As you can see the `Q` that restores the graphic state is missing

[2020-03-22 23:35] #841 closed, assigned to nobody

[2020-03-22 23:59] hmenke commented on #833
I have downloaded the `main.pdf` and `main_no_subfolder.pdf` you posted earlier and uncompressed both using
[code]
Then I deleted everything apart from the stream that renders the picture and diff-ed the result with  `git diff --no-index --word-diff main_un.pdf main_no_subfolder_un.pdf`
[code]
The only things that are different are the shifts in the transformation and the presence of the text obje

[2020-03-23 00:49] kjgoodrick commented on #841
Hi Henri,

I really appreciate you looking into this and I agree that it is certainly their fault. I will get in touch with them and hopefully they will fix things on their side.

In the meantime, for anyone else that runs into this, I believe an ok workaround is to temporarily disable externalization before uploading to Manuscript Central. If that does not work for some reason you can manually re

[2020-03-23 01:56] ghost commented on #838
@hmenke  So far I have not received enough information from @QJLc to be able to appreciate their suggestion. I would, therefore, like to close the issue as "won't fix" but I will definitely try to improve the library. This will be sped up considerably if I get feedback that I can parse.

[2020-03-23 03:06] hmenke commented on #838
Yes, please go ahead.  The issue is assigned to you, so you are in charge.

[2020-03-23 13:10] letzfets commented on #841
I ran the MWE through pdflatex, and uploaded the main.pdf to IEEE as a figure. I can't get the proofread version, as I didn't fill in the rest of the stuff, necessary to "simulate a submission". But maybe @kjgoodrick you can upload my main.pdf?

[main.pdf](https://github.com/pgf-tikz/pgf/files/4369469/main.pdf)

The one I download from IEEE later is this one:
[main-IEEE_download.pdf](https://githu

[2020-03-23 13:12] letzfets commented on #833
I've replied in #841 , no I cannot reproduce it, sorry

[2020-03-23 13:20] letzfets commented on #833
I've ran your patch both through xelatex and pdflatex. It does not solve the problem.
Remember: in my case the problem shows up regardless of which of those two compilers I use.

Cheers

[2020-03-23 13:29] letzfets commented on #833
Well, it might very well be, that both viewers (skim and preview). I've also installed Firefox now, and it's the same result there. Hmm?!?

[2020-03-23 16:46] kjgoodrick commented on #841
Yeah, the pdf is fine if you download from the HTML proof, it's only after it goes through their process that adds the line numbers and header page that it gets corrupted.

[2020-03-23 20:46] hmenke commented on #833
I don't know what exactly you are doing but both arrows show up correctly for me in Firefox 74.0, so this might not even be a viewer issue but some other issue with your specific setup.

![test](https://user-images.githubusercontent.com/1903556/77361245-d8143d00-6db3-11ea-98ea-029e47bf7fe5.png)

Sorry, but if you can't come up with a way for me to reproduce this (that doesn't involve me buying a €

[2020-03-23 21:50] hanche commented on #833
I can reproduce it on my mac (recent macbook pro, latest macos, TL 2020 pretest).

The resulting pdf has no visible arrows when viewed in skim, preview, or pdfpen pro. However, with mupdf, the arrows are present. So it seems like it could be a viewer issue. I get the same result when compiling on a gnu/linux machine and viewing the result on the mac.

[2020-03-23 22:40] letzfets commented on #833
Then we have at least 3 computers on this planet, that got this problem. Note, that the original MWE, that I provided was from 2016 here https://tex.stackexchange.com/questions/326756/tikz-externalize-breaks-path-fading
I can try to have a look at my girlfriends MacBook Pro (a few years older hardware and a few MacOS versions older than mine).
Personally I have worked around the issue in my docume

[2020-03-24 00:00] hmenke commented on #833
Reproducing this on more macOS machines doesn't make sense at this point because we already know that Apple's PDF engine fails to render this correctly.  Instead you should try to reproduce this on computers that are *not* running macOS, so you can be sure that the viewer definitely cannot fall back onto Apple's broken PDF engine (which is what might happen for your Firefox).  Furthermore you shou

[2020-03-24 13:20] u-fischer commented on #833
@letzfets @hanche  what happens if the shading is in an external *and* in an internal picture?

[code]

[2020-03-24 15:40] hanche commented on #833
@u-fischer That doesn't work because `\tikzexternalize` has to be called in the preamble. It ends up calling `\nofiles` … and perhaps there are other reasons.

[2020-03-24 15:48] u-fischer commented on #833
@hanche yes sorry it worked for me (or did what I expected) but probably only because the graphic existed. Can you try this:

[code]

[2020-03-24 15:59] hanche commented on #833
In that case, only the second arrow shows up. (To be certain, I changed the colour on the second one.)

[2020-03-24 16:00] u-fischer commented on #833
No don't change the color! The shadings must be identical.

[2020-03-24 16:02] hanche commented on #833
Only one showed up when they were identical, too.

[2020-03-24 16:06] u-fischer commented on #833
Yes, I just checked the numbers the shading resources have different names so this can't work. I need to think about it, there must be a way to get the resource in the page dictionary at least for test ;-)

[2020-03-24 16:15] u-fischer commented on #833
@hanche Well let's try this (I'm not sure about the number I copied them out of my pdf, but it could be that your pdf actually creates others):

[code]

[2020-03-24 16:17] hanche commented on #833
That made a blank page.

[2020-03-24 16:23] u-fischer commented on #833
Can you sent me the pdf? Then I can check the numbers.

[2020-03-24 17:20] hanche commented on #833
Note to others: We moved this discussion to the TeX stackexchange chat. Not much useful information emerged, unfortunately.

[2020-03-24 19:57] Mo-Gul commented on #833
Maybe others want to follow too, you could paste the link to the chat here.

[2020-03-24 21:02] hmenke commented on #833
We also have a mailing list at pgf-tikz@tug.org where you can have extended discussions (sign up here https://tug.org/mailman/listinfo/pgf-tikz).

[2020-03-25 06:55] hanche commented on #833
Nothing much to see there (on the tex.se chat) really. Ulrike wanted to test some hypothesis, adding dictionaries to the pdf to see what happens. Since she does not have a Mac, I ran her code and checked the result. The hypothesis did not pan out, so that's the end of the story. But if you really are curious, start here:

https://chat.stackexchange.com/transcript/message/53887809#53887809

[2020-03-26 00:26] hmenke commented on #833
I'm pretty convinced by now that this an issue with Apple's PDF rendering engine.  So I'm closing this again.

[2020-03-26 00:27] #833 closed, assigned to nobody

[2020-03-26 00:55] #838 closed, assigned to nobody

[2020-03-26 00:57] ghost commented on #838
The issue was closed because the instructions by the OP were not clear. I do, however, acknowledge that the library is far from complete, and does have issues. Any *clear* description of issues and comments are highly welcome.

[2020-03-26 00:59] hmenke commented on #838
Whenever you close an issue, please also apply a label with the closed prefix, so that the reason is immediately visible from the index.

[2020-03-26 01:05] ghost commented on #838
@hmenke  Sorry, I just happen not to know how that works. (IMHO the options should show up once one presses the close button, but they did not for me.) How does that work?

[2020-03-26 03:18] hmenke commented on #838
Please, at least *try* searching for the documentation.
https://help.github.com/en/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests

[2020-04-06 22:29] ghost commented on #200
The fix is overall great! However, just for the records: these issues are not completely fixed, one can still get `dimension too large` errors. Some of them disappear if one replaces `\pgfmathreciprocal@` by some `fpu` variant. I strongly suspect more issues get resolved by installing an `fpu` version of `\pgftransforminvert`. True, `fpu` slows down the computation a bit, but still it might be wor

[2020-04-06 22:52] hmenke commented on #200
There is the added performance penalty, but on top when using the `fpu` you only replacing one class of problems (`Dimension too large`) with a different one (Massive rounding errors, see e.g. #734).  This owes to the fact that the `fpu` is not actually a floating-point unit, despite the name.  It does not implement floating-point arithmetic, but merely rescales the arguments to functions to avoid

[2020-04-06 23:13] ghost commented on #200
@hmenke  I do not think your statement is generally true. For instance, in https://tex.stackexchange.com/q/529099/194703 switching to fpu precisely corrected the rounding errors. I agree, of course, that `fpu` is not perfect (in particular when it comes to dealing with integers) but there are many cases in which it saves the day. And of course one could also allow the user to switch on other thing

[2020-04-10 14:38] projekter opened #843 "`transform shape` as a label style interferes with `label position`"
**Brief outline of the bug**

As soon as a `label` itself (and not just, as documented in the manual, the main node) gets the `transform shape` option, setting `label position` to any anchor will no longer work (`Unknown function: <anchor name>`). It does not matter whether the position is set via a global option, locally in the `label` via the colon syntax, or by using the `quotes` library. Using

[2020-04-10 14:52] projekter opened #844 "`\pgfpointtransformed` is mentioned, but not documented"
Version: 3.1.5b

On page 1164, the documentation to `\pgfpointtransformednonlinear` reads:

However, `\pgfpointtransformed` is not documented at all - but it really should be, I'd say it is rather a rather important function.

For developers, it would also be nice to know what the recommended way for generic code (i.e. without knowing what the user specifies as a transformation) is: Always call  t

[2020-04-10 23:56] hmenke commented on #844
Ultimately only @tantau can tell, but it looks to me like `\pgfpointtransformed` is deprecated and you should use `\pgftransformrotate`, `\pgftransformshift`, etc. instead.  I'd argue the same applies to `\pgfpointtransformednonlinear` and you should use `\pgftransformnonlinear` instead.

[2020-04-11 00:10] hmenke commented on #843
`north` is an anchor, not a direction.  You have to use `above`.
[code]
Sorry, not a bug.

[2020-04-11 00:15] hmenke commented on #843
No, it's actually documented that anchors should work.

[2020-04-11 07:10] projekter commented on #844
Those macros fulfill a completely different purpose - `\pgftransformrotate` and the like install the given transformation, so that all future points are transformed by this specification. `\pgfpointtransformed` is the way how this is actually achieved internally - it applies all transformations that are currently known to the given point and returns what comes out. All path construction macros cal

[2020-04-11 13:28] QJLc opened #845 "`\pgfmathfloattoextentedprecision` has no result"
**MWE**
[code]

this gets an error. I have checked the line 867 of file **pgflibraryfpu.code.tex**:
[code]
 I guess that two `\the` are missing, it should be:
[code]

[2020-04-12 08:10] ghost commented on #843
This is not a real solution but you can of course exclude labels from the transformations.

[code]

[2020-04-13 13:15] ghost opened #846 "name prefix and name suffix vs. edge: starting point of edge paths are incorrect"
It seems that there is some problem using nodes with `name prefix` (or `name suffix` for that matter) and the `edge` path construction. When one switches on either of them, the edge will connect to the node center of the starting node.

[code]

<img width="837" alt="Screen Shot 2020-04-13 at 6 10 59 AM" src="https://user-images.githubusercontent.com/35985244/79122841-9f7dd880-7d4d-11ea-83ad-f70ce3

[2020-04-14 02:42] #845 closed, assigned to nobody

[2020-04-15 22:54] hmenke commented on #357
Bisect gives e391f0d8b87eb5b9f6bfb0124c0a26b30f6b9686

[2020-04-18 02:57] QJLc commented on #846
I may get the point of this issue.

See  **tikz.code.tex**.

After line 5427, I add   lines:
[code]
this will set the  `(\tikztostart)` on shape border. But I do not know whether this will cause errors.

I guess, the key point about this issue is , command `\tikz@scan@one@point` sets `\tikz@shapeborderfalse`,  the full name `L-A` is saved in `\tikztostart`, so, `\tikz@shapeborderfalse` is always v

[2020-04-18 03:35] hmenke commented on #846
Hm, I'm not sure whether this is the right way to approach this.  It seems like a very symptomatic treatment.  This patch also solves the problem and is maybe a bit more idiomatic.  I'm not sure which way to go.
[code]

[2020-04-18 14:06] u-fischer opened #847 "math library can't cope with predefined, non-robust variables"
**Brief outline of the bug**

When a variable has a predefined, non robust definition using it in the math library breaks.

**Minimal working example (MWE)**

[code]
this gives the error

[code]

A robust definition seems to work fine, but this naturally not something one can rely on.

The problem is connected to problems with the metropolis theme, which uses internally with the unicode engines `\

[2020-04-18 15:37] QJLc commented on #846
Yes, I have learned it, your patch is very reasonable.
The command
```\tikz@scan@one@point{\tikz@@moveto}(A)```
will define
```\def\tikz@shapeborder@name{L-A}```
so, the added line
```+        \def\tikz@shapeborder@name{#2}%```
could repeat the defination, is this repetition needed?

[2020-04-19 02:09] hmenke commented on #847
~Possible patch:~ This doesn't actually work.  It's a bit more complicated.
[code]

[2020-04-19 20:30] ghost opened #848 "Adding a bit more details to the mindmaps manual"
There has been repeated confusion about the `concept color` on the Q & A sites. While everything is explained in the manual, I feel it might make sense to stress the distinction between `child` and `node` even more.

Version: 3.1.5

There is nothing wrong in the manual but the explanations on p. 721 are not too exhaustive. Instead of `Here is an example of a tree built in this way:` we could write

[2020-04-19 22:51] hmenke commented on #848
Ha! I'd estimate that 90% of users on Q&A sites don't even know that the manual exists. Improving the manual is always just exercises in futility, but sure it can be done.

[2020-04-22 10:23] bnord01 opened #849 "Graph drawing breaks edge left/right anchors in graph library"
**Brief outline of the bug**

When using the graph drawing library to layout a graph e.g. tree layout, the `left anchor` and `right anchor` options are ignored when specifying edges. See the minimal working example below.

**Minimal working example (MWE)**

[code]
![image](https://user-images.githubusercontent.com/1318553/79970724-a619f780-8493-11ea-85f3-16d16755f219.png)

[2020-04-28 08:09] ghost opened #850 "Patterns get offset when one converts the pdf file to (e.g.) gif"
I really hope I do not repeat a bug but I tried to find a closely related issue but did not find a duplicate. The perhaps closest one is issue https://github.com/pgf-tikz/pgf/issues/775. The problem is that there is an offset in the pattern when one converts the output to GIF (say). Here is a rather minimal example.

[code]

The resulting PDF shows

<img width="573" alt="Screen Shot 2020-04-28 at

[2020-04-28 09:14] hmenke commented on #850
Huh? Wouldn't this indicate a bug in imagemagick? Have you filed a bug there? What makes you think that this is a PGF bug?

[2020-04-28 09:44] hmenke commented on #850
Hm, I can reproduce this with mupdf (I wouldn't trust the output of and [especially the input of imagemagick](https://imagetragick.com/)), but the shift seems to be dependent upon the rendering resolution.

100dpi
![test](https://user-images.githubusercontent.com/1903556/80472363-b8ff6100-8998-11ea-8508-a9cee7dcb32c.gif)

200dpi
![test](https://user-images.githubusercontent.com/1903556/80472386-c4

[2020-04-28 15:16] ghost commented on #850
@hmenke  OK, so it is not an illusion. I wrote "Other densities seem to come with slightly different offsets (or this is an illusion).". Yes, it might well be that it is imagemagick's fault or something else, meanwhile Symbol 1 also commented to be familiar with this issue. The issue seems to be that the origin of the coordinate system gets decided to be somewhere else in the conversion process. O

[2020-04-29 07:52] hmenke commented on #850
If I make the pattern a single tile and move the circle onto it, it becomes scale-independent.
[code]
However, replacing `+(2.5mm,2.5mm)` by `+(25mm,25mm)` the shift is back.